description = "Community layout"
==
<!DOCTYPE html>
<html>
{% partial "head" %}
{% partial "header" %}
<div class="container">
  <h1 class="intro-title">Community</h1>
  <div class="row">
    <div class="col-md-4 community-card">
      <a href="/qa/"><img src="{{ 'assets/community/icon_qa.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="/qa">Questions &amp; Answers</a></h2>
      <hr>
      <p>Place to ask questions and search for answers from the community.</p>
      <a href="/qa/">Go to site »</a>
    </div>
    <div class="col-md-4 community-card">
      <a href="http://webchat.freenode.net/?channels=#godotengine"><img src="{{ 'assets/community/icon_irc.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="http://webchat.freenode.net/?channels=#godotengine">IRC</a></h2>
      <hr>
      <p>Great for chatting with other users.<br/>irc.freenode.net #godotengine</p>
      <a href="http://webchat.freenode.net/?channels=#godotengine">Go to site »</a>
    </div>
    <div class="col-md-4 community-card">
      <a href="https://discord.gg/zH7NUgz"><img src="{{ 'assets/community/icon_discord.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://discord.gg/zH7NUgz">Discord</a></h2>
      <hr>
      <p>For the cool kids born after the IRC golden age who don't 5P34K 1337.</p>
      <a href="https://discord.gg/zH7NUgz">Go to site »</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 community-card">
      <a href="https://matrix.to/#/#godotengine:matrix.org"><img src="{{ 'assets/community/icon_matrix.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://matrix.to/#/#godotengine:matrix.org">Matrix</a></h2>
      <hr>
      <p>Libre decentralized chat with advanced features, IRC compatible.</p>
      <a href="https://matrix.to/#/#godotengine:matrix.org">Go to site »</a>
    </div>
    <div class="col-md-4 community-card">
      <a href="https://www.facebook.com/groups/godotengine/"><img src="{{ 'assets/community/icon_facebook.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://www.facebook.com/groups/godotengine/">Facebook</a></h2>
      <hr>
      <p>Large community, great place to meet other Godot users.</p>
      <a href="https://www.facebook.com/groups/godotengine/">Go to site »</a>
    </div>
    <div class="col-md-4 community-card">
      <a href="https://www.reddit.com/r/godot"><img src="{{ 'assets/community/icon_reddit.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://www.reddit.com/r/godot">Reddit</a></h2>
      <hr>
      <p>For the anti-imperialist resistance to Facebook.</p>
      <a href="https://www.reddit.com/r/godot">Go to site »</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 community-card">
      <a href="https://github.com/godotengine/"><img src="{{ 'assets/community/icon_github.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://github.com/godotengine/">GitHub</a></h2>
      <hr>
      <p>Send potential bugs and feature requests here.</p>
      <a href="https://github.com/godotengine/">Go to site »</a>
    </div>
    <div class="col-md-4 community-card">
      <a href="https://twitter.com/godotengine"><img src="{{ 'assets/community/icon_twitter.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://twitter.com/godotengine">Twitter</a></h2>
      <hr>
      <p>Get small bits of development news.</p>
      <a href="https://twitter.com/godotengine">Go to site »</a>
    </div>
    <div class="col-md-4 community-card">
      <a href="http://godotdevelopers.org"><img src="{{ 'assets/community/icon_forum.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="http://godotdevelopers.org">Forum</a></h2>
      <hr>
      <p>Community forum for all Godot developers.</p>
      <a href="http://godotdevelopers.org">Go to site »</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 community-card">
      <a href="https://steamcommunity.com/app/404790"><img src="{{ 'assets/community/icon_steam.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://steamcommunity.com/app/404790">Steam Community</a></h2>
      <hr>
      <p>Discuss and share tips with other developers on Steam.</p>
      <a href="https://steamcommunity.com/app/404790">Go to site »</a>
    </div>
    <div class="col-md-4 community-card">
      <a href="https://www.youtube.com/c/GodotEngineOfficial"><img src="{{ 'assets/community/icon_youtube.png'|theme }}" width="100%" alt=""></a>
      <h2><a href="https://www.youtube.com/c/GodotEngineOfficial">YouTube</a></h2>
      <hr>
      <p>Channel for official Godot videos.</p>
      <a href="https://www.youtube.com/c/GodotEngineOfficial">Go to site »</a>
    </div>
  </div>
</div>
{% partial "footer" %}
</html>