description = "Features layout"
==
{##}
<!DOCTYPE html>
<html lang="{{ getCurrentLocale() }}">
{% partial "head" %}
{% partial "header" selected="features" %}

<div class="head">
  <div class="container flex eqsize">
    <div class="main">
      <h1 class="intro-title">{% placeholder title %}</h1>
      {% placeholder head_text %}
    </div>
    <div class="tabs">
      <a href="/features" class="title-font {% if this.page.id == 'features' %} active {% endif %}">Features</a>
      <a href="/showcase" class="title-font {% if this.page.id == 'showcase' %} active {% endif %}">Showcase</a>
    </div>
  </div>
</div>

{% page %}

{% partial "footer" %}

</html>
