description = "More layout"
==
{##}
<!DOCTYPE html>
<html lang="{{ getCurrentLocale() }}">
{% partial "head" %}
{% partial "header" %}

<div class="head">
  {# Prevent the secondary tab navigation from taking too much space from the title. #}
  <div class="container flex eqsize" style="flex-direction: column">
    <div class="main">
      <h1 class="intro-title">{% placeholder title %}</h1>
      {% placeholder head_text %}
    </div>
  </div>
</div>

<div class="container">
  {% page %}
</div>

{% partial "footer" %}

</html>
