description = "More layout"
==
{##}
<!DOCTYPE html>
<html lang="{{ getCurrentLocale() }}">
{% partial "head" %}
{% partial "header" selected="more" %}

<div class="head">
  {# Prevent the secondary tab navigation from taking too much space from the title. #}
  <div class="container flex eqsize" style="flex-direction: column">
    <div class="main">
      <h1 class="intro-title">{% placeholder title %}</h1>
      {% placeholder head_text %}
    </div>

    <div class="tabs">
      <a href="/contact" class="title-font {% if this.page.id == 'contact' %} active {% endif %}">
        Contact
      </a>
      <a href="/code-of-conduct" class="title-font {% if this.page.id == 'code-of-conduct' %} active {% endif %}">
        Code of Conduct
      </a>
      <a href="/privacy-policy" class="title-font {% if this.page.id == 'privacy-policy' %} active {% endif %}">
        Privacy
      </a>
      <a href="/governance" class="title-font {% if this.page.id == 'governance' %} active {% endif %}">
        Governance
      </a>
      <a href="/teams" class="title-font {% if this.page.id == 'teams' %} active {% endif %}">
        Teams
      </a>
      <a href="/license" class="title-font {% if this.page.id == 'license' %} active {% endif %}">
        License
      </a>
    </div>
  </div>
</div>

<div class="container">
  {% page %}
</div>

{% partial "footer" %}

</html>
