description = "News layout"
==
{##}
<!DOCTYPE html>
<html lang="{{ getCurrentLocale() }}">
{% partial "head" %}
{% partial "header" selected="news" %}

<style>
  .posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  @media (min-width: 768px) {
    .posts {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1024px) {
    .posts {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>

<div class="head">
  <div class="container flex eqsize responsive">
    <div class="main">
      <h1 class="intro-title">{{ this.page.title }}</h1>
    </div>
  </div>
</div>


<div class="container">
  {#
    search for articles on duckduckgo.com
  #}
  <form class="search-bar" method="get" action="https://duckduckgo.com/">
    <input type="hidden" name="sites" value="godotengine.org/article" />
    <input type="text" name="q" maxlength="300" placeholder="Search articles" />
    <button class="btn search-bar-btn" type="submit">
      <img width="24" height="24" src="{{ ('assets/icons/search.svg') | theme }}" alt="search" title="search" />
    </button>
  </form>

  <h3 style="margin-top: 1rem; margin-bottom: 4rem">Categories</h3>
  <div class="tags">
    {# The category slug is an empty string if the legacy news URL (`/news`) is browsed to. #}
    <a
      href="/news/default/{{ blogPosts.posts.currentPage }}"
      title="Show all categories"
    ><div class="tag tag--default {% if blogCategories.currentCategorySlug == "default" or blogCategories.currentCategorySlug == "" %} active {% endif %}">All</div></a>
    {% for category in blogCategories.categories %}
      <a
        href="/news/{{ category.slug }}/{{ blogPosts.posts.currentPage }}"
        title="{{ category.description }}"
      ><div class="tag tag--{{ category.slug }} {% if category.slug == blogCategories.currentCategorySlug %} active {% endif %}">{{ category.name }}</div></a>
    {% endfor %}
  </div>

  {# The category slug is an empty string if the legacy news URL (`/news`) is browsed to. #}
  {% if blogCategories.currentCategorySlug == "default" or blogCategories.currentCategorySlug == "" %}
    <h3 style="margin-top: -1rem; margin-bottom: -1rem">All posts</h3>
  {% else %}
    <h3 style="margin-top: -1rem; margin-bottom: -1rem">Posts from category: {{ blogCategories.currentCategorySlug|capitalize }}</h3>
  {% endif %}

  {% partial "pagination" %}

  <div class="posts">
    {% set posts = blogPosts.posts %}
    {% for post in posts %}
      <a href="{{ 'article'|page({ slug: post.slug }) }}" style="text-decoration: none">
        <article class="article-card">
          <div
            class="thumbnail"
            style="background-image: url('{{ post.featured_images[0].thumb(400, { extension: 'jpg' }) }}');"
            href="{{ 'article'|page({ slug: post.slug }) }}"
          ></div>
          <div class="content">
            <div class="info">
              {% if post.user.avatar %}
              {# We display it at 25x25, but load it at a higher scale to avoid too much compression. #}
              <img class="avatar" width="25" height="25" src="{{ post.user.avatar.getThumb(40, 40, { mode: 'crop' }) }}" alt="">
              {% else %}
              <img class="avatar" width="25" height="25" src="{{ 'assets/default_avatar.svg'|theme }}" alt="">
              {% endif %}
              <span class="by">{{ post.user.full_name }} </span>
              <span class="date">&nbsp;-&nbsp;{{ post.published_at|date('j F Y') }}</span>
            </div>
            <h3>{{ post.title }}</h3>
            <p class="excerpt">{{ post.excerpt |raw }}</p>
          </div>
        </article>
      </a>
    {% endfor %}
  </div>

  {% partial "pagination" %}
</div>

{% partial "footer" %}

</html>
