description = "Games showcase"

[portfolio]
category = 0
itemsPerPage = 12
order = "desc"
pageNumber = "{{ :page }}"
selectedTag = "{{ :selected_tag }}"
selectedCat = "{{ :selected_cat }}"
catListPage = "showcase_category"
itemPage = "showcase"
tagListPage = "showcase_tags"
==
<!DOCTYPE html>
<html>
{% partial "head" %}
{% partial "header" %}


<style>
  .card h3 a {
    text-decoration: none;
  }
</style>


<section class="head">
  <div class="container flex eqsize">
    <div class="main">
      <h1>Showcase</h1>
      <p>
        Games made with Godot. If you want your Godot game to be featured on this page, please see the instructions in <a href="/article/showcase-your-godot-game-our-website">this blog announcement</a>.
      </p>
    </div>
  </div>
</section>

{% component 'portfolio' %}


{% partial "footer" %}
</html>
