root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# YAML requires indentation with spaces instead of tabs.
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Ruby scripts and plugins for Jekyll
[*.rb]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
indent_size = 4
