# exclude everything by default (this is a CMS!), and whitelist the safe stuff
/*
packed
node_modules
conf.json
!.gitattributes
!.gitignore
!LICENSE.txt
!/plugins
/plugins/october/demo
!/themes
/themes/demo
