# Exclude everything by default (this is a CMS!), and whitelist the safe stuff
/*
!/README.md
!/ISSUE_TEMPLATE.md
!/LICENSE.txt

# Vim
*.swp
*.swo

# Git stuff
!.gitattributes
!.gitmodules
!.gitignore

# October CMS
packed
node_modules
conf.json

# Plugins
!/plugins
/plugins/october/demo

# Themes
!/themes
/themes/demo

# Docker
!/docker
!/docker/mariadb/init/000-setup.sql
/docker/mariadb/init/*.sql
/docker/mariadb/storage

# Continuous integration
!.github/
!lighthouserc.js

# Linting/formatting setup
!.prettierignore
!package-lock.json
!package.json
