{% assign now = "now" | date: "%s" | plus: 0 %}
{% assign last_updated_duration = include.last_updated_duration | default: 0 %}
{% assign enable_recent_update = include.enable_recent_update %}
{% assign nb_of_priorities = include.priorities | size %}
{% assign is_list_item = include.is_list_item %}

{% if nb_of_priorities > 0 %}
	{% if is_list_item %}
	<li>
	{% endif %}
	<a href="#{{ include.anchor }}">
		<span>{{ include.title }}</span>

		{% assign is_recent = false %}
		{% for element in include.priorities %}
			{% if element.last_updated != "" %}
				{% assign last_updated = element.last_updated | date: "%s" | plus: 0 %}
				{% assign last_updated_time = now | minus: last_updated_duration %}
				{% if last_updated > last_updated_time %}
					{% assign is_recent = true %}
					{% break %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% if is_recent and enable_recent_update %}
			<div class="recent-icon"></div>
		{% endif %}
	</a>
	{% if is_list_item %}
	</li>
	{% endif %}
{% endif %}
