description = "footer partial"
==
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 nav-secondary">
        <ul>
          <li><a href="/news">News</a></li>
          <li><a href="/community">Community</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="http://docs.godotengine.org">Documentation</a></li>
          <li><a href="/download">Download</a></li>
          <li><a href="/donate">Donate</a></li>
        </ul>
      </div>
      <div class="col-md-5 copyright">
        © 2007-2017 Juan Linietsky, Ariel Manzur and <a href="https://github.com/godotengine/godot/blob/master/AUTHORS.md" target="_blank">contributors</a><br>
        Godot is a member of the <a href="https://sfconservancy.org/" target_="_blank">Software Freedom Conservancy</a><br>
        Kindly hosted by <a href="https://tuxfamily.org" target="_blank">TuxFamily.org</a>
      </div>
      <div class="col-md-2 social">
        <h4><a href="/contact">Contact us</a></h4>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/groups/godotengine/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/godotengine" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/godotengine/" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.reddit.com/r/godot" target="_blank"><i class="fa fa-reddit-alien"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
<script>
  if(window.parent==window){var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-50389206-1']);_gaq.push(['_setDomainName','www.godotengine.org']);_gaq.push(['_setAllowLinker',true]);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src='https://www.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();}
</script>