description = "footer partial"
==

<footer>
  <div class="container flex">
    <div id="copyright">
      © 2007-2020 Juan Linietsky, Ariel Manzur and <a href="https://github.com/godotengine/godot/blob/master/AUTHORS.md" target="_blank">contributors</a><br>
      Godot is a member of the <a href="https://sfconservancy.org/" target_="_blank">Software Freedom Conservancy</a><br>
      Kindly hosted by <a href="https://tuxfamily.org" target="_blank">TuxFamily.org</a>
    </div>
    <ul id="sitemap">
      <li><a href="/news">News</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/features">Features</a></li>
      <li><a href="https://docs.godotengine.org">Documentation</a></li>
      <li><a href="/download">Download</a></li>
      <li><a href="/donate">Donate</a></li>
    </ul>
    <div id="social">
      <h4 class="text-right"><a href="/contact">Contact us</a></h4>
      <div class="flex justify-space-between">
        <a href="https://www.facebook.com/groups/godotengine/" target="_blank">
          <img src="{{ 'assets/footer/facebook_logo.svg' | theme }}" alt="Facebook">
        </a>
        <a href="https://twitter.com/godotengine" target="_blank">
          <img src="{{ 'assets/footer/twitter_logo.svg' | theme }}" alt="Twitter">
        </a>
        <a href="https://github.com/godotengine" target="_blank">
          <img src="{{ 'assets/footer/github_logo.svg' | theme }}" alt="GitHub">
        </a>
        <a href="https://www.reddit.com/r/godot" target="_blank">
          <!-- Zero-width space in the `alt` text to prevent content blockers from blocking the icon -->
          <img src="{{ 'assets/footer/reddit_logo.svg' | theme }}" alt="Red​dit">
        </a>
        <a href="/rss.xml" target="_blank">
          <!-- Icon is called `feed` instead of `rss` to prevent content blockers from blocking the icon -->
          <img src="{{ 'assets/footer/feed_logo.svg' | theme }}" alt="RSS feed">
        </a>
      </div>
    </div>
  </div>
</footer>

{% scripts %}

</body>
