description = "footer partial"
==
{##}

</main>

<footer>
  <div class="container flex">
    <div id="copyright">
      <p>
        © 2007-2020 Juan Linietsky, Ariel Manzur and <a href="https://github.com/godotengine/godot/blob/master/AUTHORS.md" target="_blank" rel="noopener">contributors</a><br>
        Godot is a member of the <a href="https://sfconservancy.org/" target_="_blank" rel="noopener">Software Freedom Conservancy</a><br>
        Kindly hosted by <a href="https://tuxfamily.org" target="_blank" rel="noopener">TuxFamily.org</a>.
      </p>
      <p><a href="/privacy-policy">Privacy Policy</a> &ndash; <a href="/code-of-conduct">Code of Conduct</a></p>
    </div>
    <ul id="sitemap">
      <li><a href="/news">News</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/features">Features</a></li>
      <li><a href="/showcase">Showcase</a></li>
      <li><a href="https://docs.godotengine.org">Documentation</a></li>
      <li><a href="/download">Download</a></li>
      <li><a href="/donate">Donate</a></li>
    </ul>
    <div id="social">
      <h4 class="text-right"><a href="/contact">Contact us</a></h4>
      <div class="flex justify-space-between">
        <a href="https://github.com/godotengine" target="_blank" rel="noopener">
          <img src="{{ 'assets/footer/github_logo.svg' | theme }}" alt="GitHub">
        </a>
        <a href="https://twitter.com/godotengine" target="_blank" rel="noopener">
          <img src="{{ 'assets/footer/twitter_logo.svg' | theme }}" alt="Twitter">
        </a>
        <a href="https://www.facebook.com/groups/godotengine/" target="_blank" rel="noopener">
          <img src="{{ 'assets/footer/facebook_logo.svg' | theme }}" alt="Facebook">
        </a>
        <a href="https://www.reddit.com/r/godot" target="_blank" rel="noopener">
          <!-- Zero-width space in the `alt` text to prevent content blockers from blocking the icon -->
          <img src="{{ 'assets/footer/reddit_logo.svg' | theme }}" alt="Red​dit">
        </a>
        <a href="/rss.xml" target="_blank" rel="noopener">
          <!-- Icon is called `feed` instead of `rss` to prevent content blockers from blocking the icon -->
          <img src="{{ 'assets/footer/feed_logo.svg' | theme }}" alt="RSS feed">
        </a>
      </div>
    </div>
  </div>
</footer>

{% scripts %}
<script defer src="{{ 'assets/js/barba.min.js' | theme }}"></script>
<script defer src="{{ 'assets/js/highlight.min.js' | theme }}"></script>
<script defer src="{{ 'assets/js/highlight.gdscript.min.js' | theme }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    barba.init({
      transitions: [
        {
          name: 'default',
          leave() {
            // Simple transition to let the user know that the page is currently loading.
            document.body.style.opacity = 0.6;
          },
          enter() {
            document.body.style.opacity = 1.0;
            // Scroll back to top and close the mobile menu to simulate
            // traditional navigation. Don't do this on initial page load
            // to preserve browser behavior on refresh, only on subsequent
            // navigations.
            window.scrollTo(0, 0);
            document.getElementById('nav_toggle_cb').checked = false;

            // Update the active tab in the navigation bar.
            const oldActiveTab = document.querySelector('#nav li.active');
            if (oldActiveTab) {
              oldActiveTab.classList.remove('active');
            }
            document.querySelectorAll('#nav li a').forEach((tabLink) => {
              if (tabLink.href === window.location.href) {
                tabLink.parentElement.classList.add('active');
              }
            });
          },
        },
      ],
      views: [
        {
          namespace: 'default',
          afterEnter() {
            // This needs to be done after page changes in case a code block
            // appears in an article.
            document.querySelectorAll('pre code').forEach((block) => {
              hljs.highlightBlock(block);
            });
          },
        },
      ],
    });
  });
</script>

</body>
