description = "head partial"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Godot Engine">
  <meta name="description" content="{{ page.description }}">
  {% if this.page.id == 'home' %}
    <title>Godot Engine - Free and open source 2D and 3D game engine</title>
  {% elseif this.page.id == 'article' %}
      {% set post = blogPost.post %}
      <title>Godot Engine - {{ post.title }}</title>
      <meta property="og:image" content="{{ post.featured_images[0].path }}" />
  {% elseif this.page.id == 'showcase' %}
      <title>Godot Engine - {{ this.page.title }}</title>
      <meta property="og:image" content="https://godotengine.org/storage/app/uploads/public/576/ff8/07a/thumb_71_400x1_0_0_auto.jpg" />
      <meta property="og:description" content="Showcase of games developed and published using Godot, the feature-packed 2D and 3D open source game engine." />
  {% else %}
    <title>Godot Engine - {{ this.page.title }}</title>
    <meta property="og:image" content="https://godotengine.org/themes/godotengine/assets/home/2d.jpg" />
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="Godot News" href="/rss.xml"/>
  <link rel="icon" href="{{ 'assets/favicon.png'|theme }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,300italic,900,900italic,700,700italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700,700italic">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ 'assets/packed/style.css'|theme }}">

</head>
