description = "header partial"

==
{##}


<body data-barba="wrapper">
{% styles %}

<input type="checkbox" id="nav_toggle_cb">
<header>
  <div class="container flex align-center">
    <div id="nav_head">
      <a href="/" id="logo-link">
        <img class="nav-logo" src="{{ 'assets/logo.svg' | theme }}" width="136" height="48" alt="Godot Engine">
        <img class="nav-logo dark-logo" src="{{ 'assets/logo_dark.svg' | theme }}" width="136" height="48" alt="Godot Engine">
      </a>
      <label for="nav_toggle_cb" id="nav_toggle_btn">
        <img src="{{ 'assets/hamburger.svg' | theme }}" width="24" height="24" alt="">
      </label>
    </div>

    <nav id="nav">
      <ul class="left">
        <li {% if selected == 'features' %} class="active" {% endif %}><a href="/features">{{ TR('Features') }}</a></li>
        <div class="only-on-mobile" style="width: 100%">
          <li {% if this.page.id == 'showcase' %} class="active" {% endif %}><a href="/showcase">{{ TR('Showcase') }}</a></li>
        </div>
        <li {% if selected == 'news' %} class="active" {% endif %}><a href="/news/default/1">{{ TR('News') }}</a></li>
        <li {% if this.page.id == 'community' %} class="active" {% endif %}><a href="/community">{{ TR('Community') }}</a></li>
        <li {% if selected == 'more' %} class="active" {% endif %}><a href="/contact">{{ TR('About') }}</a></li>
        <li><a href="https://godotengine.org/asset-library/asset">{{ TR('Assets') }}</a></li>
      </ul>

      <ul class="right">
        <li {% if selected == 'download' %} class="active" {% endif %}><a href="/download">{{ TR('Download') }}</a></li>
        <li><a href="https://docs.godotengine.org">{{ TR('Learn') }}</a></li>
        <li><a href="https://docs.godotengine.org/en/stable/community/contributing/index.html">{{ TR('Contribute') }}</a></li>
        {# We add the control character at the end to force the heart to render as text and not as an emoji. #}
        <li class="fund {% if this.page.id == 'donate' %} active {% endif %}"><a href="/donate">❤&#xFE0E; {{ TR('Donate') }}</a></li>
      </ul>
    </nav>
  </div>
</header>

<main data-barba="container" data-barba-namespace="default">
