description = "head partial"
==
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Godot Engine">
  <meta name="description" content="{{ page.description }}">
  <meta name="theme-color" content="#3d8fcc">
  {% if this.page.id == 'home' %}
    <title>Godot Engine - {{ TR('Free and open source 2D and 3D game engine')|_ }}</title>
  {% elseif this.page.id == 'article' %}
    {% set post = blogPost.post %}
    <title>Godot Engine - {{ post.title }}</title>
    <meta property="og:image" content="{{ post.featured_images[0].path }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@godotengine" />
    <meta name="twitter:title" content="{{ post.title }}" />
    <meta name="twitter:description" content="{{ post.summary }}" />
    <meta name="twitter:image" content="{{ post.featured_images[0].path }}" />
  {% else %}
    <title>Godot Engine - {{ this.page.title }}</title>
    <meta property="og:image" content="https://godotengine.org/themes/godotengine/assets/home/2d.jpg" />
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="Godot News" href="/rss.xml"/>
  <link rel="icon" href="{{ 'assets/favicon.png'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/fonts/fonts.css' | theme }}">
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | theme }}">
</head>
