description = "header partial"

[Goal]
==
{##}


<body data-barba="wrapper">
{% styles %}
<header>
  <a href="/article/online-godotcon-july-2021-call-participation" style="
    position: absolute;
    top: 3.5rem;
    right: -4rem;
    transform: rotateZ(45deg);
    z-index: 9999;
    padding: 0.5rem 3.5rem;
    background-color: #49a1be;
    box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.3);
    color: white;
    text-decoration: none;
    font-weight: 700;
  ">
    GodotCon July 2021!
  </a>
</a>
  <div class="container flex align-center">
    <input type="checkbox" id="nav_toggle_cb">
    <div id="nav_head">
      <a href="/" id="logo-link">
        <img class="nav-logo" src="{{ 'assets/logo.svg' | theme }}" width="136" height="48" alt="Godot Engine">
        <img class="nav-logo dark-logo" src="{{ 'assets/logo_dark.svg' | theme }}" width="136" height="48" alt="Godot Engine">
      </a>
      <label for="nav_toggle_cb" id="nav_toggle_btn">
        <img src="{{ 'assets/hamburger.svg' | theme }}" width="24" height="24" alt="">
      </label>
    </div>

    <nav id="nav">
      <ul class="left">
        <li {% if selected == 'features' %} class="active" {% endif %}><a href="/features">Features</a></li>
        <li {% if selected == 'news' %} class="active" {% endif %}><a href="/news">News</a></li>
        <li {% if this.page.id == 'community' %} class="active" {% endif %}><a href="/community">Community</a></li>
        <div class="only-on-mobile" style="width: 100%">
          <li {% if this.page.id == 'showcase' %} class="active" {% endif %}"><a href="/showcase">Showcase</a></li>
          <li {% if selected == 'more' %} class="active" {% endif %}"><a href="/contact">More</a></li>
        </div>
        <div class="hide-on-mobile">
          <li class="nav-dropdown {% if selected == 'more' %} active {% endif %}">
            <a href="/contact">More&nbsp;&nbsp;↓</a>
            <ul class="nav-dropdown-content">
              <li><a href="/showcase">Showcase</a></li>
              <li><a href="https://editor.godotengine.org/releases/latest/">Web Editor</a></li>
              <hr>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/privacy-policy">Privacy</a></li>
              <li><a href="/code-of-conduct">Code of Conduct</a></li>
              <li><a href="/license">License</a></li>
              <li><a href="/donate">Donate</a></li>
            </ul>
          </li>
        </div>
      </ul>

      <ul class="right">
        <li {% if selected == 'download' %} class="active" {% endif %}><a href="/download">Download</a></li>
        <li><a href="https://docs.godotengine.org">Learn</a></li>
        <li><a href="https://godotengine.org/asset-library/asset">Assets</a></li>
        {% component 'Goal' %}
      </ul>
    </nav>
  </div>
</header>

<main data-barba="container" data-barba-namespace="default">
