---
---

@import "common/colors";
@import "common/release";

$column-max-width: 400px;
$column-min-width: 300px;
$container-break: 450px;
$grid-gap: 20px;
$one-column-max-width: ($column-max-width * 2) - ($grid-gap * 1);
$two-columns-max-width: ($column-max-width * 3) - ($grid-gap * 2);
$mobile-max-width: 700px;

@mixin screen-is-two-columns-wide() {
	@media screen and (max-width: #{$two-columns-max-width}) {
		@content;
	}
}

@mixin screen-is-one-column-wide() {
	@media screen and (max-width: #{$one-column-max-width}) {
		@content;
	}
}

@mixin is-mobile() {
	@media screen and (max-width: #{$mobile-max-width}) {
		@content;
	}
}

$anchor-offset: 75px;

$header-background-color: #25282B;
$header-background-image: url("/storage/releases/4.3/images/release-header-background.svg");
$header-background-position: center left;
$header-background-repeat: no-repeat;
$header-logo-image: url("/storage/releases/4.3/images/release-logo.svg");
$header-logo-position: center;
$header-logo-repeat: no-repeat;
$header-logo-height: 140px;
$header-logo-size: contain;
$header-gap-top: 80px;
$header-gap-bottom: 80px;
$header-content-color: white;
$header-numbers-gap: 20px;
$header-bar-height: 20px;
$header-bar-commits-color: $color-godot-blue;
$header-bar-commits-color-inactive: #487491;
$header-bar-contributors-color: #F47E7A;
$header-bar-contributors-color-inactive: #A66160;
$header-bar-gap: 10px;
$header-version-font-weight: 800;
$header-overlap: 104px;

$release-background: #CECECE;
$release-title-font-size: r-desktop-mobile(28px, 20px);

$card-padding: r-desktop-mobile(25px, 15px);
$card-title-font-size: r-desktop-mobile(21px, 18px);
$card-content-font-size-clamp-min: r-desktop-mobile(14px, 0.8em);
$card-content-font-size-clamp-val: r-desktop-mobile(7cqw, 4cqw);
$card-content-font-size-clamp-max: r-desktop-mobile(19px, 1em);

$section-hue-offset: 20;
$sections: r-generate-sections(
	$sections: (
		"video",
		"foundation",
		"download",
		"outstanding",
		"2d",
		"animation",
		"dotnet",
		"display",
		"editor",
		"gdscript",
		"rendering",
		"web",
		"xr"
	),
	$base-category: "foundation",
	$base-color: $color-godot-blue,
	$offset: $section-hue-offset
);

@mixin card-media-margin($direction, $margin) {
	@if $direction == "top" {
		margin: #{-$margin} #{-$margin} 0 #{-$margin};
	}
	@else if $direction == "right" {
		margin: #{-$margin} #{-$margin} #{-$margin} 0;
	}
	@else if $direction == "bottom" {
		margin: 0 #{-$margin} #{-$margin} #{-$margin};
	}
	@else if $direction == "left" {
		margin: #{-$margin} 0 #{-$margin} #{-$margin};
	}
}

.release-container {
	width: 100%;
	height: 100%;
	background-color: $release-background;

	.replace-me {
		&::before {
			content: "TODO: replace me";
		}
		color: red !important;
	}

	.release-header {
		background-color: $header-background-color;
		background-image: $header-background-image;
		background-position: $header-background-position;
		background-repeat: $header-background-repeat;

		.release-header-content {
			padding-top: $header-gap-top;
			padding-bottom: $header-gap-bottom * 2;

			.header-main-title {
				background-image: $header-logo-image;
				background-repeat: $header-logo-repeat;
				background-position: $header-logo-position;
				background-size: $header-logo-size;
				height: $header-logo-height;

				.header-main-title-text {
					display: none;
				}
			}

			.header-content {
				color: $header-content-color;

				.header-text {
					> .header-title {
						color: $header-content-color;
					}
				}

				.header-numbers {
					min-width: 405px;

					.header-numbers-commits {
						--bar-color: #{$header-bar-commits-color};
						.header-numbers-line.inactive {
							--bar-color: #{$header-bar-commits-color-inactive};
						}
					}

					.header-numbers-contributors {
						--bar-color: #{$header-bar-contributors-color};
						.header-numbers-line.inactive {
							--bar-color: #{$header-bar-contributors-color-inactive};
						}
					}

					.header-numbers-entry {
						margin-bottom: $header-numbers-gap;
						&:last-of-type {
							margin-bottom: 0;
						}

						.header-numbers-line {
							font-variant-numeric: tabular-nums;

							.version {
								font-weight: $header-version-font-weight;
								margin-right: $header-bar-gap;
							}

							.bar {
								display: inline-block;
								height: $header-bar-height;
								background-color: var(--bar-color, #{$color-godot-blue});
								transform: translateY(2px);
								margin-right: $header-bar-gap;
							}
						}
					}
				}
			}
		}
	}

	.release-content {
		position: relative;
		top: -1 * $header-overlap;
		margin-top: 0;
		color: black;

		.release-cards {
			display: grid;
			width: 100%;
			gap: $grid-gap;
			grid-template-columns:
				repeat(3, minmax($column-min-width, 1fr));
			grid-auto-flow: row dense;

			&.two-columns {
				grid-template-columns:
					repeat(2, minmax($column-min-width, 1fr));
			}

			@include screen-is-two-columns-wide() {
				grid-template-columns:
					repeat(2, minmax($column-min-width, 1fr));
			}

			@include screen-is-one-column-wide() {
				&,
				&.two-columns {
					grid-template-columns:
						minmax($column-min-width, 1fr);
				}
			}
		}

		.release-card {
			container-type: inline-size;
			container-name: release-card;

			contain: paint;
			color: black;
			background-color: white;
			border-radius: r-get-desktop($card-padding);
			padding: r-get-desktop($card-padding);
			@include is-mobile() {
				border-radius: r-get-mobile($card-padding);
				padding: r-get-mobile($card-padding);
			}

			@mixin media-top() {
				grid-template-areas:
					"media"
					"contnt";
				grid-template-rows:
					minmax(auto, 30cqh)
					minmax(max-content, 1fr);
				grid-template-columns:
					1fr;

				.release-card-media {
					@include card-media-margin("top", r-get-desktop($card-padding));
					@include is-mobile() {
						@include card-media-margin("top", r-get-mobile($card-padding));
					}
				}
			}

			@mixin media-bottom() {
				grid-template-areas:
					"contnt"
					"media";
				grid-template-rows:
					minmax(max-content, 1fr)
					minmax(auto, 30cqh);
				grid-template-columns:
					1fr;

				.release-card-media {
					@include card-media-margin("bottom", r-get-desktop($card-padding));
					@include is-mobile() {
						@include card-media-margin("bottom", r-get-mobile($card-padding));
					}
				}
			}

			@mixin media-left() {
				grid-template-areas:
					"media contnt";
				grid-template-columns:
					minmax(auto, 40cqw) minmax(30%, 1fr);
				grid-template-rows:
					1fr;

				.release-card-media {
					@include card-media-margin("left", r-get-desktop($card-padding));
					@include is-mobile() {
						@include card-media-margin("left", r-get-mobile($card-padding));
					}
				}
			}

			@mixin media-right() {
				grid-template-areas:
					"contnt media";
				grid-template-columns:
					minmax(30%, 1fr) minmax(auto, 40cqw);
				grid-template-rows:
					1fr;

				.release-card-media {
					@include card-media-margin("right", r-get-desktop($card-padding));
					@include is-mobile() {
						@include card-media-margin("right", r-get-mobile($card-padding));
					}
				}
			}

			&.media-top .release-card-container {
				@include media-top();
			}
			&.media-bottom .release-card-container {
				@include media-bottom();
			}
			&.media-left .release-card-container {
				@include media-left();
				@container release-card (width <= #{$container-break}) {
					@include media-top();
				}
			}
			&.media-right .release-card-container {
				@include media-right();
				@container release-card (width <= #{$container-break}) {
					@include media-bottom();
				}
			}

			&.inverted {
				background: linear-gradient(
						to bottom,
						var(--color-top),
						var(--color-bottom)
					);
				color: white;

				.release-card-container {
					.release-card-content .release-card-content-container{
						.c-title {
							color: white;

							& > a {
								color: white;
							}
						}

						.c-blockquote {
							color: white;

							.highlight {
								color: var(--color-invert);
							}
						}

						.c-link {
							color: white;
						}
					}
				}
			}

			.release-card-container {
				display: grid;
				gap: $grid-gap;
				grid-template-areas:
					"contnt";

				height: 100%;

				.release-card-content {
					grid-area: contnt;
					container-type: inline-size;
					container-name: release-card-content;

					.release-card-content-container {
						display: grid;
						gap: $grid-gap;
						height: 100%;

						&:has(.c-title):has(.c-blockquote):has(.c-content) {
							grid-template-areas:
								"title contnt"
								"quote contnt"
								"quote link";
							grid-template-columns:
								1fr 1fr;
							grid-template-rows:
								min-content
								1fr
								auto;

							&:not(:has(.c-link)) {
								grid-template-areas:
									"title contnt"
									"quote contnt";
								grid-template-rows:
									min-content
									1fr;
							}

							@container release-card-content (width < #{$container-break}) {
								grid-template-areas:
									"title"
									"quote"
									"contnt"
									"link";
								grid-template-columns:
									1fr;
								grid-template-rows:
									min-content
									auto
									1fr
									auto;

								&:not(:has(.c-link)) {
									grid-template-areas:
										"title"
										"quote"
										"contnt";
									grid-template-rows:
										min-content
										auto
										1fr;
								}
							}
						}
						&:not(:has(.c-title)):has(.c-blockquote):has(.c-content) {
							grid-template-areas:
								"quote contnt"
								"quote link";
							grid-template-columns:
								1fr 1fr;
							grid-template-rows:
								1fr
								auto;

							&:not(:has(.c-link)) {
								grid-template-areas:
									"quote contnt";
								grid-template-rows:
									1fr;
							}

							@container release-card-content (width < #{$container-break}) {
								grid-template-areas:
									"quote"
									"contnt"
									"link";
								grid-template-columns:
									1fr;
								grid-template-rows:
									min-content
									1fr
									auto;

								&:not(:has(.c-link)) {
									grid-template-areas:
										"quote"
										"contnt";
									grid-template-rows:
										min-content
										1fr;
								}
							}
						}
						&:has(.c-title):has(.c-blockquote):not(:has(.c-content)) {
							grid-template-areas:
								"title"
								"quote"
								"link";
							grid-template-rows:
								min-content
								1fr
								auto;

							&:not(:has(.c-link)) {
								grid-template-areas:
									"title"
									"quote";
								grid-template-rows:
									min-content
									1fr;
							}
						}
						&:has(.c-title):not(:has(.c-blockquote)):has(.c-content) {
							grid-template-areas:
								"title"
								"contnt"
								"link";
							grid-template-rows:
								min-content
								1fr
								auto;

							&:not(:has(.c-link)) {
								grid-template-areas:
									"title"
									"contnt";
								grid-template-rows:
									min-content
									1fr;
							}
						}

						.c-title {
							grid-area: title;
							margin-bottom: 0;
							color: var(--color-top);
							font-weight: 700;
							font-size: r-get-desktop($card-title-font-size);
							@include is-mobile() {
								font-size: r-get-mobile($card-title-font-size);
							}

							a {
								color: var(--color-top);
								text-decoration: none;

								&:hover {
									text-decoration: underline;
								}
							}
						}

						.c-blockquote {
							grid-area: quote;
							font-size: clamp(30px, 7cqw, 56px);
							font-weight: 800;

							.highlight {
								color: var(--color-top);
							}
						}

						.c-content {
							grid-area: contnt;
							font-size: clamp(
								r-get-desktop($card-content-font-size-clamp-min),
								r-get-desktop($card-content-font-size-clamp-val),
								r-get-desktop($card-content-font-size-clamp-max)
							);

							& > p {
								&:first-of-type {
									margin-top: 0;
								}
								&:last-of-type {
									margin-bottom: 0;
								}
							}
						}

						.c-link {
							grid-area: link;
							font-size: 21px;
							font-weight: 700;
							margin-top: 10px;
							color: black;
							text-decoration: underline;

							&::before {
								content: "Read more +"
							}
						}
					}
				}

				.release-card-media {
					grid-area: media;

					position: relative;
					// max-height: 33vh;
					contain: paint;

					.release-card-video,
					.release-card-image {
						position: relative;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;

						&.position-top-center {
							object-position: top center;
						}
						&.position-bottom-center {
							object-position: bottom center;
						}
					}

					.release-card-video-background,
					.release-card-image-background {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						transform: scale(1.25);
						filter: blur(5px);
						z-index: -1;
					}
				}
			}
		}

		.section {
			margin-bottom: 40px;
			&:last-of-type {
				margin-bottom: 0;
			}

			@each $section-name, $section-colors in $sections {
				&.section-#{$section-name} {
					--color-top: #{map-get($section-colors, "color-top")};
					--color-bottom: #{map-get($section-colors, "color-bottom")};
					--color-invert: #{map-get($section-colors, "color-invert")};
				}
			}

			.section-title,
			.section-title a {
				font-size: r-get-desktop($release-title-font-size);
				color: var(--color-top);
				text-decoration: none;

				@include is-mobile() {
					font-size: r-get-mobile($release-title-font-size);
				}
			}
		}
	}
}

.span-3 {
	grid-column: span 3;

	@include screen-is-two-columns-wide() {
		grid-column: span 2;
	}

	@include screen-is-one-column-wide() {
		grid-column: span 1;
	}
}

.span-2-at-3-col {
	grid-column: span 2;

	@include screen-is-two-columns-wide() {
		grid-column: span 1;
	}
}

.span-2 {
	grid-column: span 2;

	@include screen-is-one-column-wide() {
		grid-column: span 1;
	}
}
