---
---

#download-download {
	.release-card-media {
		.release-platform {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
.comparison-range {
	display: none !important;
}
