{% capture headings %}

  {% assign minLevel = 2 %}
  {% assign maxLevel = 5 %}
  {% assign nodes = include.html | split: '<h' %}

  {% capture new_headings %}{% endcapture %}

  {% for _node in nodes %}
    {% capture node %}{{ _node | strip }}{% endcapture %}

    {% if node == "" %}
      {% continue %}
    {% endif %}

    {% assign nextChar = node | replace: '"', '' | strip | slice: 0, 1 %}
    {% assign headingLevel = nextChar | times: 1 %}

    {%comment%}
    If headingLevel is 0, it means that the current string is not a header tag. 
    In this case, the code checks if the string contains another HTML tag that starts with the letter "h". 
    If it does, the code assumes that the tag was split by the split filter and concatenates the pieces back together to form a complete header
    {%endcomment%}

    {% if headingLevel == 0 %}

      {% assign firstBlock = node | split: '>' | first %}
      {% unless firstBlock contains '<' %}
        {% capture node %}<h{{ node }}{% endcapture %}
      {% endunless %}

      {% capture new_headings %}{{ new_headings }}{{ node }}{% endcapture %}
      {% continue %}
    {% endif %}

    {% capture _closingTag %}</h{{ headingLevel }}>{% endcapture %}
    {% assign heading_workspace = node | split: _closingTag %}
    {% capture headingAttr %}{{ heading_workspace[0] | split: '>' | first }}>{% endcapture %}
    {% assign header = heading_workspace[0] | replace: headingAttr, '' %}

    {% assign id_workspace = heading_workspace[0] | split: 'id="' %}
    {% assign id_workspace = id_workspace[1] | split: '"' %}
    {% assign heading_id = id_workspace[0] %}

    <!-- create anchor to headings -->
    {% capture anchor %}{% endcapture %}

    {% if headingLevel >= minLevel and headingLevel <= maxLevel %}

      {% capture anchor %}href="#{{ heading_id }}" class="anchor-link" {% endcapture %}
      {% capture anchor %}<a {{ anchor }}>🔗</a>{% endcapture %}
      {% capture anchor %} {{ anchor }}{% endcapture %}
    {% endif %}

    {% capture new_heading %}
      <h{{ headingAttr }}
        {{ include.bodyPrefix }}
        {{ header }}{{ anchor }}
        {{ include.bodySuffix }}
      </h{{ headingLevel }}>
    {% endcapture %}

    <!-- append the content after </h()> here so we don't lost any content.-->

    {% assign blockCount = heading_workspace | size %}
    {% if blockCount > 1 %}
      {% capture new_heading %}{{ new_heading }}{{ heading_workspace | last }}{% endcapture %}
    {% endif %}

    {% capture new_headings %}{{ new_headings }}{{ new_heading }}{% endcapture %}
  {% endfor %}
{% endcapture %}{% assign headings = '' %}{{ new_headings | strip }}
