<div class="card base-padding preview-download">
	{% assign release_version = include.version | make_release_version: include.release %}

	<h3 id="{{ release_version.name }}-{{ release_version.flavor }}">
		Godot {{ release_version.name }}-{{ release_version.flavor }}
	</h3>

	<p class="preview-download-meta">
		{% unless release_version.release_date == empty %}
			<span>{{ release_version.release_date }}</span>
		{% endunless %}
	</p>

	<div class="preview-download-primary">
		<div class="preview-notes">
			{% unless release_version.release_notes == empty %}
				{% assign release_article = site.article | find: "url", release_version.release_notes %}

				{% unless release_article == empty %}
					<div class="notes-summary">
						<div class="notes-thumbnail" style="background-image: url('{{ release_article.image }}');"></div>
						<div class="notes-excerpt">
							{{ release_article.excerpt }}
						</div>
					</div>
				{% endunless %}
			{% else %}
				<div class="notes-excerpt">
					Release notes are not ready yet. You can check the complete list of changes using our interactive changelog.
				</div>
			{% endunless %}

			<div class="notes-buttons">
				{% unless release_version.release_notes == empty %}
					{% assign release_article = site.article | find: "url", release_version.release_notes %}
					{% unless release_article == empty %}
						<a class="btn btn-release-notes" href="{{ release_article.url }}">Read more</a>
					{% endunless %}
				{% endunless %}

				<a class="btn btn-release-changelog" href="https://godotengine.github.io/godot-interactive-changelog/#{{ release_version.name }}-{{ release_version.flavor }}">View complete changelog</a>
			</div>

		</div>

		<div>
			<h4>Main downloads</h4>
			<div class="download-primaries">
				{% assign download_primary = release_version | get_download_primary: false %}
				{% for primary in download_primary %}
					{% comment %}
						When iterating over a hash, you get an array. 0-th item is the key, and
						1-st item is the value.
					{% endcomment %}
					{% assign platform_info = site.data.download_platforms | find: "name", primary[1] %}

					<a href="{{ release_version | make_download: primary[1], false, "tuxfamily" }}" class="btn btn-download btn-download-primary">
						<div class="download-title">
							<img width="24" height="24" src="/assets/images/platforms/{{ primary[0] | split: "_" | join: "-" }}.svg" title="{{ platform_info.title }}" alt="{{ platform_info.title }}" />
							{{ platform_info.title }}
						</div>
					</a>

					{% assign mono_download = release_version | make_download: primary[1], true, "tuxfamily" %}
					{% if mono_download == "#" %}
						<div></div>
					{% else %}
						<a href="{{ mono_download }}" class="btn btn-download btn-download-primary">
							<div class="download-title">
								.NET
							</div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="preview-download-toggle">
		<h4>Show all downloads</h4>
	</div>

	<div class="preview-download-links">
		{% assign download_platforms = release_version | get_download_platforms: false %}
		{% for platform in download_platforms %}
			{% assign platform_info = site.data.download_platforms | find: "name", platform %}

			<div class="download">
				<span>
					<a href="{{ release_version | make_download: platform, false, "tuxfamily" }}">
						{{ platform_info.title }}
						{% unless platform_info.caption == empty %} - {{ platform_info.caption }}{% endunless %}
					</a>
				</span>
				<span class="download-details">
					{% for tag in platform_info.tags %}{% if forloop.index > 1 %} · {% endif %}{{ tag }}{% endfor %}
				</span>
			</div>

			{% assign mono_download = release_version | make_download: platform, true, "tuxfamily" %}
			{% unless mono_download == "#" %}
				<div class="download">
					<a href="{{ mono_download }}">
						{{ platform_info.title }} - .NET
						{% unless platform_info.caption == empty %} - {{ platform_info.caption }}{% endunless %}
					</a>
					<span class="download-details">
						{% for tag in platform_info.tags %}{{ tag }} · {% endfor %}C# support
					</span>
				</div>
			{% endunless %}
		{% endfor %}
	</div>
</div>
