<input type="checkbox" id="nav_toggle_cb">
<header>
	<div class="container flex align-center">
		<div id="nav_head">
			<a href="/" id="logo-link">
				<img class="nav-logo" src="/assets/logo.svg" width="136" height="48" alt="Godot Engine">
				<img class="nav-logo dark-logo" src="/assets/logo_dark.svg" width="136" height="48" alt="Godot Engine">
			</a>
			<label for="nav_toggle_cb" id="nav_toggle_btn">
				<img src="/assets/hamburger.svg" width="24" height="24" alt="">
			</label>
		</div>

		<nav id="nav">
			<ul class="left">
				<li><a href="/showcase">Showcase</a></li>
				<div class="only-on-mobile" style="width: 100%">
					<li><a href="/features">Features</a></li>
				</div>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/community">Community</a></li>
				<li><a href="/contact">About</a></li>
				<li><a href="https://godotengine.org/asset-library/asset">Assets</a></li>
			</ul>

			<ul class="right">
				<li><a href="/download/windows" class="set-os-download-url">Download</a></li>
				<li><a href="https://docs.godotengine.org">Learn</a></li>
				<li><a href="https://docs.godotengine.org/en/stable/community/contributing/index.html">Contribute</a></li>
				{% comment %}
				We add the control character at the end to force the heart to render as text and not as an emoji.
				{% endcomment %}
				<li class="fund"><a href="/donate">❤&#xFE0E; Donate</a></li>
			</ul>
		</nav>
	</div>
</header>

<main>
