{% if include.preload %}
<link rel="preload" as="image" href="/assets/showcase/desktop-showcase.webp" fetchpriority="high" type="image/webp">
<link rel="preload" as="image" href="/assets/showcase/mobile-showcase.webp" fetchpriority="high" type="image/webp">
<link rel="preload" as="image" href="/assets/showcase/apps-showcase.webp" fetchpriority="high" type="image/webp">
{% endif %}

<style>
	.showreel-video {
		aspect-ratio: 16/9;
	}

	.showreel-video img {
		background-color: var(--card-background-color);
		box-shadow: 0 5px 10px -3px #00000078;
		border-radius: 7px;
	}
</style>

<section class="flex grid" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))">
	<article class="showreel-video">
		<a href="https://www.youtube.com/watch?v=UAS_pUTFA7o" target="_blank">
			<img src="/assets/showcase/desktop-showcase.webp" alt="Showreel: 2022 Godot Desktop Games" width="1280" height="720" decoding="async" {% if include.lazyload %} loading="lazy" {% endif %}>
		</a>
	</article>

	<article class="showreel-video">
		<a href="https://www.youtube.com/watch?v=xF3QiQfQxeQ" target="_blank">
			<img src="/assets/showcase/mobile-showcase.webp" alt="Showreel: 2022 Godot Mobile Games" width="1280" height="720" decoding="async" {% if include.lazyload %} loading="lazy" {% endif %}>
		</a>
	</article>

	<article class="showreel-video">
		<a href="https://www.youtube.com/watch?v=9kKp0oguzr8" target="_blank">
			<img src="/assets/showcase/apps-showcase.webp" alt="Showreel: 2022 Godot Apps &amp; Tools" width="1280" height="720" decoding="async" {% if include.lazyload %} loading="lazy" {% endif %}>
		</a>
	</article>
</section>