<style>
	.showreel-video img {
		max-width: 100%;
		background-color: var(--card-background-color);
		box-shadow: 0 5px 10px -3px #00000078;
		border-radius: 7px;
		display: block;
	}
</style>

<section class="flex grid" style="grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))">
	<article>
		<div class="showreel-video">
			<a href="https://www.youtube.com/watch?v=7ZwEmxihlw4" target="_blank">
				<img src="/assets/showcase/showreels/2025.jpg" alt="Showreel: 2025 Godot Games">
			</a>
		</div>
	</article>

	<article>
		<div class="showreel-video">
			<a href="https://www.youtube.com/watch?v=n1Lon_Q2T18" target="_blank">
				<img src="/assets/showcase/showreels/2024.webp" alt="Showreel: 2024 Godot Games">
			</a>
		</div>
	</article>

	<article>
		<div class="showreel-video">
			<a href="https://www.youtube.com/watch?v=W1_zKxYEP6Q" target="_blank">
				<img src="/assets/showcase/showreels/2023-all.webp" alt="Showreel: 2023 Godot Games">
			</a>
		</div>
	</article>

	<article>
		<div class="showreel-video">
			<a href="https://www.youtube.com/watch?v=UAS_pUTFA7o" target="_blank">
				<img src="/assets/showcase/showreels/2022-desktop.webp" alt="Showreel: 2022 Godot Desktop Games">
			</a>
		</div>
	</article>
</section>
