<section class="sponsors padded" id="sponsors">
	<div class="container">
		<h2>Godot is sponsored by:</h2>
		<h3>Corporate Platinum</h3>
		<div class="grid platinum">
			{% for sponsor in site.data.sponsors.platinum %}
			<a class="sponsor-card platinum" href="{{ sponsor.url }}" target="_blank" rel="noopener">
				<img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" loading="lazy">
			</a>
			{% endfor %}
		</div>
		<h3>Corporate Gold</h3>
		<div class="grid gold">
			{% for sponsor in site.data.sponsors.gold %}
			<a class="sponsor-card gold" href="{{ sponsor.url }}" target="_blank" rel="noopener">
				<img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" loading="lazy">
			</a>
			{% endfor %}
		</div>
		<h3>Corporate Silver</h3>
		<div class="grid silver">
			{% for sponsor in site.data.sponsors.silver %}
			<a class="sponsor-card silver" href="{{ sponsor.url }}" target="_blank" rel="noopener">
				<img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" loading="lazy">
			</a>
			{% endfor %}
		</div>
		<p class="for-more" style="margin-top: 50px; text-align: left; opacity: 0.8;">If you want to sponsor the project, please write to <a href="mailto:contact@godot.foundation">contact@godot.foundation</a>.</p>
	</div>
</section>