<style>
	.section-download {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		background-color: var(--dark-color);
		padding: 24px;
		padding-bottom: 60px;
		width: auto;
		max-width: 100%;
	}
	@media (max-width: 900px) {
		.section-download {
			padding: 20px;
		}
	}

	.section-download h2 {
		color: var(--dark-color-text-title);
		font-weight: 600;
		margin: 0;
		margin-bottom: 16px;
	}

	.section-download p {
		color: var(--dark-color-text);
		margin: 0;
	}

	.section-download-ready {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 26px;
	}

	.section-download-ready .btn-download {
		min-width: 310px;
	}

	.section-download .download-3 {
		text-align: center;
		color: #ffffffd6;
		font-weight: 300;
		font-size: 15px;
	}

	.section-download .download-3 a {
		color: inherit;
		text-decoration-color: inherit;
		text-decoration-thickness: 1px;
	}
	.section-download .download-3 a:hover {
		color: white;
	}
</style>
<div id="{{ include.anchor | default: 'call-to-action' }}" class="container card section-download">
    <h2>{{ include.title | default: 'Ready to start?' }}</h2>

	<div class="section-download-ready">
		{% assign stable_version_3 = site.data.versions | find: "featured", "3" %}
		{% assign stable_version_4 = site.data.versions | find: "featured", "4" %}

		<p>Download the <strong>latest version of Godot 4</strong> right now and begin your creative journey!</p>
		<a href="/download/windows/" class="btn btn-download set-os-download-url" data-version="4"
			title="Download the latest version of Godot 4">
			<div class="download-title">Download Latest</div>
			<div class="download-hint">{{ stable_version_4.name }}</div>
		</a>

		<span class="download-3">Looking for <a href="/download/windows/" class="set-os-download-url" data-version="3" title="Download the long-term support version of Godot 3">Godot 3</a>, our <a href="/download/archive">experimental releases</a>, or a <a href="/download/archive">previous version</a>?</span>
	</div>
</div>
