{{ define "head" }}
  {{ $articleSearch := resources.Get "js/article-search.js"
  | resources.ExecuteAsTemplate (printf "%s/js/article-search.js" .Site.Language.Lang ) .
  | resources.Minify
  | resources.Fingerprint
  }}
  <script
    type="module"
    defer src="{{ $articleSearch.RelPermalink }}"
    integrity="{{ $articleSearch.Data.Integrity }}">
  </script>
{{ end }}

{{ define "main" }}
  <main class="blog-page">
    <div class="head">
      <div class="wrapper flex eqsize responsive">
        <div class="main">
          <h1 class="intro-title">{{ T "page.blog.header.titleText" }}</h1>
          <form id="search-form" class="search-bar" role="search" action="javascript:void(0);"
                style="display: none;" aria-hidden="true">
            <input type="text" autocapitalize="none" enterkeyhint="search" maxlength="300"
                   placeholder="{{ T "page.blog.header.searchInput.placeholderText" }}" autocomplete="off"
                   autofocus>
            <button class="btn search-bar-btn" type="submit">
              <img width="24" height="24" src="/assets/icons/search.svg"
                   alt="{{ T "page.blog.header.searchInput.altText" }}" fetchpriority="low"
                   decoding="async"/>
            </button>
          </form>
          <noscript>
            <form class="search-bar" role="search" method="get" action="https://duckduckgo.com/">
              <input type="hidden" name="sites" value="godotengine.org/article"/>
              <input type="text" name="q" maxlength="300" autocapitalize="none" enterkeyhint="search"
                     autocomplete="off"
                     placeholder="{{ T "page.blog.header.searchInput.placeholderText" }}">
              <button class="btn search-bar-btn" type="submit">
                <img width="24" height="24" src="/assets/icons/search.svg"
                     alt="{{ T "page.blog.header.searchInput.altText" }}" fetchpriority="low"
                     decoding="async"/>
              </button>
            </form>
          </noscript>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="tags">
        <h2 class="tags__title">{{ T "page.blog.categories" }}</h2>
        <a href="{{ relLangURL "blog/" }}" title="{{ T "page.blog.showAllCategories" }}" class="tag-link"
           data-category-slug="all">
          <div class="tag tag--default {{ if eq .Params.category "all" }}active{{ end }}">
            {{- T "page.blog.category.all" -}}
          </div>
        </a>

        {{ range $category := $.Site.Data.categories }}
          {{ range $tag := index $category }}
            <a href="{{ relLangURL "blog" }}/{{ $tag.slug }}/" title="{{ $tag.description }}"
               class="tag-link" data-category-slug="{{ .slug }}">
              <div
                class="tag tag--{{ $tag.slug }} {{ if eq .slug $.Params.category }} active {{ end }}"
              >
                {{ T (printf "%s.%s" "page.blog.category" $tag.name) }}
              </div>
            </a>
          {{ end }}
        {{ end }}
      </div>

      {{ $currentCategoryName := (index (index .Site.Data.categories .Params.category) 0).name }}
      <h3 id="filtered-by" style="margin-top: 1rem; {{ if eq .Params.category "all" }}display: none;{{ end }}">
        Filtered
        by: <span>{{ T (printf "%s.%s" "page.blog.category" $currentCategoryName) }}</span>
      </h3>


      {{ $pages := where .Site.RegularPages "Section" "article" }}
      {{ if ne .Params.category "all" }}
        {{ $categories := slice .Params.category }}
        {{ $pages = where $pages "Params.categories" "intersect" $categories }}
      {{ end }}

      {{ $paginator := .Paginate $pages }}

      {{ partial "paginator.html" $paginator }}

      <div class="posts">
        {{ range $index, $post := $paginator.Pages }}
          <a href="{{ $post.RelPermalink }}">
            <article class="article-card">
              <img
                class="thumbnail"
                src="{{ $post.Params.image }}"
                alt=""
                width="16"
                height="9"
                decoding="async"
                {{ if ge $index 9 }}
                  loading="lazy"
                {{ end }}
              >
              <div class="content">
                <div class="info">
                  {{ $postAuthor := index (where .Site.Data.authors "name" $post.Params.author | first 1) 0 }}
                  {{ with $postAuthor }}
                    <img
                      class="avatar"
                      src="{{ .image }}"
                      width="25"
                      height="25"
                      alt="{{ $post.Params.author }}"
                      fetchpriority="low"
                      decoding="async"
                      {{ if ge $index 9 }}
                        loading="lazy"
                      {{ end }}
                    >
                  {{ else }}
                    <img class="avatar" width="25" height="25"
                         src="/assets/images/authors/default_avatar.svg"
                         alt="{{ $post.Params.author }}" decoding="async">
                  {{ end }}
                  <span>{{ $post.Params.author }} </span>
                  <span class="date">&nbsp;-&nbsp;{{ time.Format ":date_long" $post.Params.date }}</span>
                </div>
                <h3>{{ $post.Params.title }}</h3>
                <p class="excerpt">{{ $post.Params.excerpt }}</p>
              </div>
            </article>
          </a>
        {{ end }}
      </div>

      <div id="loading-indicator" class="loading-indicator"></div>
      <div id="load-more-results-trigger"></div>

      {{ partial "paginator.html" $paginator }}
    </div>
  </main>
{{ end }}
