.card{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1em;
  background-color: var(--card-bg-color);
  .content{
    padding: 1.6em 1.4em;
    .note{
      font-size: 0.8em;
      font-style: italic;
    }
  }
  .title{
    font-size: 1.7em;
    margin-bottom: 0.3em;
    font-weight: 600;
    line-height: 104%;
  }
  .subtitle{
    font-size: 1.4em;
    margin-bottom: var(--s);
    font-weight: 500;
    color: var(--color-godot-but-a-little-brighter);
  }
  .body{
    font-size: 1.2em;
    margin-bottom: 2.2em;
    opacity: 80%;
    p{
      margin-bottom: var(--s);
    }
    a{
      color: var(--main-text-color);
      text-decoration: underline;
      font-weight: 600;
      &:hover{
        border-color: var(--main-text-color);
        border-bottom: solid;
      }
    }
    ul{
      padding-left: 1.4em;
    }
  }
  .link-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    a, span{
      color: #9b9b9d;
      font-weight: 500;
      font-size: 1.2em;
    }
    a{
      color: var(--color-godot-but-darker);
      opacity: 1;
      text-underline-offset: 0.2em;
      &:not(:last-child):after{
        margin-right: 0.2em;
        content: ", ";
      }
    }
    svg{
      width: 1.2em;
      margin-right: 0.2em;
      fill: var(--accent-color);
    }
  }
  &.medium{
    .media-block{
      flex:1;
    }
    .content{
      flex:1;
    }
  }
}
