.card{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1em;
  background-color: light-dark(var(--light-card-bg-color), var(--dark-card-bg-color));
  .content{
    padding: 1.6em 1.4em;
    .note{
      font-size: 0.8em;
      font-style: italic;
    }
  }
  .title{
    font-size: 1.7em;
    margin-bottom: 0.3em;
    font-weight: 600;
    line-height: 104%;
  }
  .subtitle{
    font-size: 1.4em;
    margin-bottom: var(--s);
    font-weight: 500;
    color: var(--color-godot-but-a-little-brighter);
  }
  .body{
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 2.2em;
    opacity: 95%;
    p{
      margin-bottom: var(--s);
    }
    a{
      color: var(--body-text-color);
      font-weight: 600;

      &:has(> code) {
        text-decoration-color: var(--color-godot-but-a-little-brighter);
      }


    }
    ul{
      padding-left: 1.4em;

      li {
        margin-bottom: 0.6em; 

        &:last-of-type {
          margin-bottom: 0;
        }  
      }
    }
  }
  .title, .subtitle, .body {
    code {
      color: var(--color-godot-but-a-little-brighter);
      font-size: 120%;
      margin: 0 0.1em;
    }
  }
  .link-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    a, span{
      font-weight: 500;
      font-size: 1.2em;
      opacity: 0.8;
    }
    a{
      color: light-dark(var(--accent-color), var(--color-godot-but-darker));
      text-underline-offset: 0.2em;
      &:hover {
        text-underline-offset: 0.3em;
      }
      &:not(:last-child):after{
        margin-right: 0.2em;
        content: ", ";
      }
    }
    svg{
      width: 1.2em;
      margin-right: 0.2em;
      fill: var(--accent-color);
    }
  }
  &.medium{
    .media-block{
      flex:1;
    }
    .content{
      flex:1;
    }
  }
}
