#donation-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;

    .color{
        text-wrap-mode: nowrap;
        color: #ff428e;
    }
}

@media (min-width: 1200px) {
    #donation-card{
        font-size: 1.4em;
        flex-direction: row;
    }
}

@media (min-width: 1400px) {
    #donation-card{
        font-size: 1.6em;
    }
}
