.media-block{
  position: relative;
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  background-color: var(--blank-color);
  overflow: hidden;
  .author{
    position: absolute;
    font-size: 0.8em;
    font-weight: 600;
    right: 0.0;
    bottom: 0.0;
    border-radius: 0.4em 0 0 0.0;
    padding: 0.6em 0.4em;
    background-color: rgba(0,0,0,0.8);
    color: var(--main-text-color);
    text-decoration: none;
  }
  & > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video{
    transition-property: transform;
    transition-duration: 0.2s;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video:hover{
    transform: scale(105%);
  }
  .video-tag{
    pointer-events: none;
    position: absolute;
    font-size: 0.7em;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0.6em;
    margin: 1em;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    line-height: 0;
    .icon{
      margin-right: 0.2em;
      width: 1.4em;
      height: 1.4em;
      fill: var(--main-text-color)
    }
  }
  .media-compare{
    position: relative;
    width: 100%;
    height: 100%;
    img{
      user-select: none;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .before{
      position: absolute;
      width: 100%;
      height: 100%;

    }
    .slider{
      user-select: none;
      pointer-events: none;
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: var(--main-text-color);
      transform: translate(-50%, 0%);

      svg{
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        position: absolute;
        border-radius: 50%;
        padding: 0.35em;
        width: 2em;
        height: 2em;
        stroke: var(--main-bg-color);
        background-color: var(--main-text-color);
        transform: translate(-50%, -50%);
        top:50%;
        left:50%
      }
    }
    .before-text{
      user-select: none;
      pointer-events: none;
      position: absolute;
      font-size: 1.2em;
      font-weight: 600;
      top: 0;
      left: 0;
      padding-top: 0.6em;
      padding-left: 0.8em;
    }
    .after-text{
      user-select: none;
      pointer-events: none;
      position: absolute;
      font-size: 1.2em;
      font-weight: 600;
      top: 0;
      right: 0;
      padding-top: 0.6em;
      padding-right: 0.8em;
    }
    &.transition{
      svg{
        transform: translate(-50%, -50%) scale(0.2);
      }
      .before{
        transition: all;
        transition-duration: 0.2s;
      }
      .slider{
        transition: all;
        transition-duration: 0.2s;
        opacity: 0%;
      }
    }
  }
}
