{{ $gCtx := .gCtx }}
{{ $version := .version }}
{{ $downloads := .downloads }}
{{ $platform := .platform }}
{{ $versionNumber := index (split $version.name ".") 0 }}

{{ $currentVersionImage := "" }}
{{ if eq $versionNumber "4" }}
  {{ $currentVersionImage = "/assets/download/download-background-4.x.webp" }}
{{ else }}
  {{ $currentVersionImage = "/assets/download/download-background.webp" }}
{{ end }}

<link rel="preload" as="image" href="{{ $currentVersionImage }}" fetchpriority="high" type="image/webp">

<div class="hero" style="background-image: url('{{ $currentVersionImage }}');">
  <div class="hero-wrapper">
    <h1>{{ T "page.download.header.downloadGodotFor" (dict "version" $versionNumber "platform" $platform) }}</h1>

    <div class="main-downloads">
      {{ $featuredDownloads := where $downloads "featured" true }}
      {{ range $index, $download := $featuredDownloads }}
        {{ $downloadUrl := "" }}
        {{ with $download.custom }}
          {{ $downloadUrl = . }}
        {{ else }}
          {{ $downloadUrl = partial "_funcs/get-download-url.html" (dict "gCtx" $gCtx "version" $version "platform" $download.platform "mono" $download.mono) }}
        {{ end }}

        {{ $platformInfo := index (where (index ($gCtx.Site.Data) $gCtx.Site.Language.Lang).download_platforms "name" $download.platform | first 1) 0 }}

        <div>
          <a href="{{ $downloadUrl }}"
             class="btn btn-download btn-download-main{{ if gt $index 0 }}2{{ end }}">
            <div class="download-title">
              <img src="/assets/images/platforms/{{ replace $platform "_" "-" }}.svg"
                   alt="({{ $platform }})">
              Godot Engine{{ with $download.featured_flavor }} - {{ . }}{{ end }}
            </div>
            <div class="download-hint">{{ $version.name }}</div>
          </a>
          <p class="main-download-details">
            <strong>
              {{- range $tag := $platformInfo.tags }}{{ $tag }} · {{ end }}{{ if $download.mono }}{{ T "page.download.c#Support" }} · {{ end -}}
            </strong>
            {{- time.Format ":date_long" $version.release_date -}}
          </p>
        </div>
      {{ end }}

      <p class="previous-releases">
        <strong class="previous-releases-featured">
          {{ if eq $versionNumber "4" }}
            {{ $pageLink := relLangURL (printf "download/3.x/%s/" $platform) }}
            {{- T "page.download.header.forTheLTSVersionDownloadGodot" (dict
            "version" "3"
            "linkOpen" (printf "<a href='%s' class='set-os-download-url' data-version='3'>" $pageLink)
            "linkClose" "</a>") | safeHTML
            -}}
          {{ else }}
            {{ $pageLink := relLangURL (printf "download/%s/" $platform) }}
            {{- T "page.download.header.forTheLatestVersionDownloadGodot" (dict
            "version" "4"
            "linkOpen" (printf "<a href='%s' class='set-os-download-url' data-version='4'>" $pageLink)
            "linkClose" "</a>") | safeHTML
            -}}
          {{ end }}
        </strong>
        <br>
        {{- T "page.download.header.youCanFindPreviousReleasesInTheDownloadArchive"
        (dict "linkOpen" (printf "<a href='%s'>" (relLangURL "download/archive/")) "linkClose" "</a>") | safeHTML
        -}}
      </p>
    </div>
  </div>

  <div class="other-platforms">
    {{- T "page.download.header.lookingForOtherPlatformsSeeBellow"
    (dict "linkOpen" "<a href='#platforms'>" "linkClose" "</a>") | safeHTML
    -}}
  </div>
</div>
