{{ $allCSS := slice
(resources.Get "css/main.css")
(resources.Get "css/reset.css")
(resources.Get "css/styles.css")
(resources.Get "css/fonts.css")
(resources.Get "css/calligraphy.css")
(resources.Get "css/util.css")
(resources.Get "css/common.css")
(resources.Get "css/buttons.css")
(resources.Get "css/partials/sponsors.css")
(resources.Get "css/partials/footer.css")
(resources.Get "css/partials/article/outdated-notice.css")
(resources.Get "css/partials/paginator.css")
(resources.Get "css/partials/header.css")
(resources.Get "css/partials/call-to-action.css")
(resources.Get "css/partials/showreel-shelf.css")
(resources.Get "css/layouts/index.css")
(resources.Get "css/layouts/features.css")
(resources.Get "css/layouts/blog.css")
(resources.Get "css/layouts/article.css")
(resources.Get "css/layouts/community.css")
(resources.Get "css/layouts/events.css")
(resources.Get "css/layouts/about.css")
(resources.Get "css/layouts/download.css")
(resources.Get "css/layouts/archive-list.css")
(resources.Get "css/layouts/archive.css")
(resources.Get "css/layouts/download-preview.css")
(resources.Get "css/layouts/donate.css")
(resources.Get "css/layouts/showcase-list.css")
(resources.Get "css/layouts/showcase.css")
(resources.Get "css/layouts/user-groups.css")
}}
{{ $cssBundle := $allCSS | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}" integrity="{{ $cssBundle.Data.Integrity }}">
