{% assign release_version = include.version | make_release_version: include.release %}
{% if include.page %}
	{% assign release_article = page %}
{% else %}
	{% assign release_article = site.article | find: "url", release_version.release_notes %}
{% endif %}

<div class="card card-download">
	<a class="card-download-link" href="/download/archive/{{ release_version.name }}-{{ release_version.flavor }}">
		Download Godot {{ release_version.name }} {{ release_version.flavor }}
	</a>

	<div class="card-download-details">
		{% unless release_article == empty %}
			<img class="lightbox-ignore" src="{{ release_article.image }}" />
		{% endunless %}

		<div class="card-download-platforms">
			{% assign download_primary = release_version | get_download_primary: false %}
			{% for primary in download_primary %}
				{% comment %}
					When iterating over a hash, you get an array. 0-th item is the key, and
					1-st item is the value.
				{% endcomment %}

				{% if primary[0] == "linux" or primary[0] == "macos" or primary[0] == "windows" %}
					{% assign platform_info = site.data.download_platforms | find: "name", primary[1] %}

					<div class="download-platform platform-{{primary[0]}}">
						<img width="24" height="24" src="/assets/images/platforms/{{ primary[0] | split: "_" | join: "-" }}.svg" title="{{ platform_info.title }}" alt="{{ platform_info.title }}" class="lightbox-ignore" />
						{{ platform_info.title }}
					</div>

					<a href="{{ release_version | make_download: primary[1], false, "github_builds" }}" class="btn btn-download btn-download-primary platform-{{primary[0]}}">
						<div class="download-title">
							Standard
						</div>
					</a>

					{% assign mono_download = release_version | make_download: primary[1], true, "github_builds" %}
					{% if mono_download == "#" %}
						<div></div>
					{% else %}
						{% assign has_mono = true %}
						<a href="{{ mono_download }}" class="btn btn-download btn-download-primary btn-download-primary--mono platform-{{primary[0]}}">
							<div class="download-title">
								.NET
							</div>
						</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="card-download-sublinks">
		<a class="card-download-other" href="/download/archive/{{ release_version.name }}-{{ release_version.flavor }}">
			Export templates and other downloads
		</a>
		<a class="card-download-donate" href="/donate/">
			Make a Donation
		</a>
	</div>

</div>
