{% assign feature = include.feature %}

{% assign importance = feature.importance | default: "4" | plus: 0 %}
{% assign has_media = false %}
{% assign is_video = false %}
{% assign is_image = false %}
{% if feature.video_src == null and feature.image_src == null %}
	{% assign media_type = 'none' %}
{% else %}
	{% assign has_media = true %}
	{% assign media_position = feature.media_position | default: 'top' %}
	{% if feature.video_src != null %}
		{% assign is_video = true %}
	{% else %}
		{% assign is_image = true %}
	{% endif %}
{% endif %}

{% assign span = "" %}
{% if importance == 2 %}
	{% assign span = "span-3" %}
{% elsif importance == 3 %}
	{% assign span = "span-2" %}
{% endif %}

{% assign inverted = "" %}
{% if feature.inverted %}
	{% assign inverted = "inverted" %}
{% endif %}

<div id="{{feature.anchor}}" class="release-card media-{{media_position}} {{span}} {{inverted}}">
	<div class="release-card-container">
		<div class="release-card-content">
			<div class="release-card-content-container">
				<!-- .c-title -->
				<h4 class="c-title">
					<a href="#{{feature.anchor}}">{{feature.title}}</a>
				</h4>

				<!-- .c-blockquote -->
				{% if feature.blockquote != null and importance < 4 %}
					<div class="c-blockquote">
						{{ feature.blockquote | markdownify }}
					</div>
				{% endif %}

				<!-- .c-content -->
				<div class="c-content">
					{{ feature.text | markdownify }}
				</div>

				<!-- .c-link -->
				{% if feature.contributors == null %}
					{% assign contributors = "" | split: "," %}
				{% else %}
					{% assign contributors = feature.contributors %}
				{% endif %}

				{% assign contributors_json = "[" %}
				{% for contributor in contributors %}
					{% assign contributors_json = contributors_json | append: "{" | append: '"name": "' | append: contributor.name | append: '", "github": "' | append: contributor.github | append: '" }' %}
					{% if forloop.index != forloop.length %}
						{% assign contributors_json = contributors_json | append: "," %}
					{% endif %}
				{% endfor %}
				{% assign contributors_json = contributors_json | append: "]" %}

				<div class="c-link"
					data-contributors='{{ contributors_json }}'
					data-read-more="{{ feature.read_more }}"
				>
					<!-- For no-script users. -->
					<a href="{{ feature.read_more }}" target="_blank">Read more</a>
					<small>
						Contributed by {% for contributor in contributors %}<a href="https://github.com/{{contributor.github}}" target="_blank">{{ contributor.name }}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}
					</small>
				</div>
			</div>
		</div>
		{% if has_media %}
			<div class="release-card-media">
				{% if is_video %}
					<video class="release-card-video lazy" playsinline disablepictureinpicture autoplay loop muted
					poster="{{ feature.video_poster }}">
						<source data-src="{{ feature.video_src }}"
							type="video/webm" />
					</video>
				{% endif %}
				{% if is_image %}
					<img class="release-card-image" alt="{{ feature.image_alt }}"
						src="{{ feature.image_src }}" srcset="
						{{ feature.image_src_2x }} 2x
					" draggable="false" />
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
