.anchored-link {
  background-image: url(/assets/icons/link.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
  height: 0.8em;
  margin-left: 10px;
  max-height: 24px;
  max-width: 24px;
  text-decoration: none;
  vertical-align: middle;
  width: 0.8em;
}

.anchored-link:hover {
  opacity: 0.9;
}

@media (prefers-color-scheme: light) {
  .anchored-link {
    filter: invert(1);
  }

  .anchored-link:hover {
    filter: invert(1);
  }
}

.anchored:hover .anchored-link {
  display: inline-block;
}

.anchored-toast {
  background-color: var(--dark-color);
  border-radius: 24px;
  color: var(--dark-color-text-hl);
  font-size: 0.875rem;
  font-weight: 600;
  left: 50%;
  padding: 12px 18px;
  position: fixed;
  text-align: center;
  top: 20px;
  transform: translateX(-50%);
  z-index: 100;
}
