.btn {
  background-color: var(--button-background-color);
  box-shadow: var(--base-shadow);
  display: inline-block;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  text-decoration: none;

  &:hover {
    box-shadow: var(--more-shadow);
  }
}

.btn-flat {
  background-color: transparent;
  box-shadow: none;
  color: var(--link-color);
  margin: 1rem 2rem;

  &:hover {
    background-color: hsla(0, 0%, 50%, 0.1);
  }
}

.btn-flat-white {
  color: hsla(0, 0%, 100%, 0.95);
}

.btn-flat-frosted {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgb(111 111 111 / 27%);
}

.btn-download {
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  text-align: center;

  & > .download-title {
    color: var(--dark-color);
    display: inline-block;
    flex-grow: 1;
    padding: 1rem 2rem;
  }

  & > .download-hint {
    background-color: var(--primary-color);
    color: var(--primary-color-text-title);
    display: inline-block;
    min-width: 48px;
    padding: 1rem;
  }
}
