---
---

@use "common/utils";

$size-computer-large: 1250px;
$size-computer-medium: 1020px;
$size-computer-small: 900px;
$size-tablet-large: 800px;
$size-phone-large: 540px;

.features-why {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: radial-gradient(
		ellipse closest-side at 50% 45%,
		#6469ac,
		#364b7c,
		#12122b
	);
	padding-top: 60px;
	margin-bottom: 24px;
	overflow: hidden;

	@media screen and (width <= $size-computer-small) {
		padding-left: 16px;
		padding-right: 16px;
	}

	h2 {
		color: var(--dark-color-text-title);
		font-size: 40px;
		margin: 36px 54px 8px 54px;
	}
}

.btn-see-showcase {
	line-height: 26px;
	text-align: center;
}

.feature-container {
	display: grid;
	justify-content: center;
	column-gap: 28px;
	row-gap: 24px;
	grid-template-columns: 1fr;
	margin: auto;
	margin-bottom: 42px;
	width: 1200px;
	max-width: 1200px;

	@media screen and (width <= $size-computer-large) {
		width: auto;
		padding-left: 16px;
		padding-right: 16px;
	}

	@media screen and (width <= $size-computer-small) {
		width: auto;
		overflow: auto;
		flex-direction: column;
	}

	h3 {
		font-size: 22px;
		margin-bottom: 4px;
	}

	$formats: (
		2x: (
			default: 2,
			#{$size-computer-medium}: 1,
		),
		3x: (
			default: 3,
			#{$size-computer-medium}: 2,
			#{$size-tablet-large}: 1,
		),
	);

	@mixin feature-container-format($format, $numbers-of-columns) {
		&.feature-container-#{$format} {
			grid-template-columns: utils.repeat-value(1fr, $numbers-of-columns);

			h3 {
				grid-column: span $numbers-of-columns;
			}
		}
	}

	@each $format, $sizes in $formats {
		@each $size, $numbers-of-columns in $sizes {
			@if $size == default {
				@include feature-container-format($format, $numbers-of-columns);
			} @else {
				@media screen and (width <= $size) {
					@include feature-container-format($format, $numbers-of-columns);
				}
			}
		}
	}
}

.feature-card {
	background-color: var(--card-background-color);
	border-radius: 12px;
	padding: 20px;
	transition: 0.1s filter;

	&:hover {
		filter: brightness(112.5%);
	}

	h4 {
		color: var(--feature-heading-color);
		font-family: var(--default-font-family);
		font-size: 18px;
		font-weight: 700;
		margin: 0;
	}

	p {
		font-size: 95%;
		margin-top: 24px;
		margin-bottom: 12px;
	}

	strong {
		color: var(--feature-note-color);
		font-weight: 600;
	}

	code {
		background-color: #0f172e36;
		border-radius: 3px;
		padding: 1px 4px;
	}
}

.features-showreel {
	background-color: var(--dark-color);
	color: var(--dark-color-text-hl);
	padding: 24px 32px 8px 32px;
	margin-bottom: 36px;
	width: auto;
	max-width: 100%;

	p {
		margin-top: 0;
		margin-bottom: 8px;
	}
}

.features-complete-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.features-priorities-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 24px;
}

.features-complete-list,
.features-priorities-list {
	.btn.btn-flat.btn-flat-white {
		color: var(--base-color-text-title);
	}
}

.features-showcase {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--dark-color-text-hl);
	width: 100%;
}

.showcase-carousel {
	position: relative;
	width: 100%;
	max-width: 720px;
	aspect-ratio: 16/9;
	margin: 100px 0 60px 0;

	@media screen and (width < $size-phone-large) {
		margin-top: 60px;
	}
}

.showcase-frame {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 16/8;
	transform: scale(1.7) translate(1.46%, 3.1%);
	filter: brightness(0.85) saturate(0.75);
}

.showcase-flip-left,
.showcase-flip-right {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 20px;
	height: 36px;
	transform: translateY(-50%);
	background-image: url("/assets/icons/arrow-flip.svg");
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	filter: drop-shadow(var(--more-shadow));
	z-index: 5;
}

.showcase-flip-left {
	transform: translateY(-50%) scaleX(-1);
}

.showcase-flip-right {
	left: auto;
	right: 12px;
}

.showcase-items {
	position: relative;
	overflow: hidden;
	aspect-ratio: 16/9;
}

.showcase-item {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--dark-color);
	width: 100%;
	height: 100%;

	img {
		width: 100%;
	}
}

.showcase-item-transition {
	transition:
		transform 0.4s ease-in-out,
		z-index 0.1s linear 0.4s;
}

.showcase-credits {
	position: absolute;
	bottom: 12px;
	right: 16px;
	background: var(--hero-text-background-color);
	border-radius: 8px;
	padding: 2px 10px;

	a {
		text-decoration: none;
	}
}

.showcase-title {
	color: white;
	font-weight: 600;
}

.showcase-author {
	color: #b3c1df;
	font-size: 95%;
	opacity: 0.9;
}
