---
---

@mixin smaller-than-small-computer() {
	@media (width < 900px) {
		@content;
	}
}

@mixin smaller-than-tablet() {
	@media (width < 768px) {
		@content;
	}
}

@mixin smaller-than-mobile-large() {
	@media (width < 500px) {
		@content;
	}
}

.main-download {
	display: flex;
	align-items: flex-start;
	gap: 48px;
	margin-top: 48px;

	@include smaller-than-small-computer() {
		align-items: center;
		flex-direction: column;
		gap: 36px;
	}
}

.main-download-links {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.btn-download {
		width: 100%;
	}

	.btn-whats-new {
		width: min-content;
		text-wrap: nowrap;
		background-color: #818181a8;
		color: var(--primary-color-text-title);
		box-sizing: border-box;

		@include smaller-than-small-computer() {
			width: 100%;
		}
	}

	.download-3 {
		text-align: left;
		color: #ffffffd6;
		text-shadow: 0 0 10px black;
		font-weight: 300;
		font-size: 15px;

		@include smaller-than-small-computer() {
			text-align: center;
		}

		a {
			color: inherit;
			text-decoration-color: inherit;
			text-decoration-thickness: 1px;

			&:hover {
				color: #fff;
			}
		}
	}
}

.main-download-links-buttons {
	display: flex;
	flex-direction: row;
	gap: 12px;

	@include smaller-than-small-computer() {
		flex-direction: column;
		align-items: center;
	}
}

#donations {
	background-color: var(--dark-color);
	color: var(--dark-color-text);
	overflow: auto;
	text-align: center;

	h1,
	h2,
	h3 {
		color: var(--dark-color-text-title);
	}
}

.feature-link {
	text-decoration: none;

	&--open-source {
		grid-column: 1 / -1;
	}
}

.features-grid {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: min-content;
	gap: 20px;
	grid-auto-flow: row;

	@include smaller-than-small-computer() {
		/* grid-template-columns: 1fr; */
	}
}

.feature {
	position: relative;
	overflow: hidden;
	transition: transform 200ms ease-in-out;
	height: 100%;
	border-radius: 8px;

	&:hover {
		transform: translateY(-2px);
	}

	&.dark {
		background-color: var(--transparent-cover-darker);

		h4 {
			color: var(--dark-color-text-title);
		}
	}

	img {
		display: block;
		width: 100%;
		height: 250px;
		position: relative;
		background-color: #607080;
		object-fit: cover;
		object-position: center center;
	}

	h4 {
		margin-bottom: 10px;
	}

	p {
		margin: 0;
	}

	.body {
		padding: 24px;
	}
}

.features-row,
.split-row {
	& > :first-child {
		margin-right: 8px;
	}

	& > :last-child {
		margin-left: 8px;
	}
}

.features-learn-more {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

.img-auto-size {
	width: 100%;
	height: auto;
}

.btn.btn-flat.btn-hero-learn-more {
	margin: 0;
}

@include smaller-than-small-computer() {
	#highlight {
		.highlight-cover {
			border-radius: 4px 4px 0 0;
		}

		.highlight-details {
			border-radius: 0;
		}
	}
}

.news-list .button-container {
	text-align: right;

	@include smaller-than-tablet() {
		text-align: left;
	}
}
