main {
  container-name: main;
  container-type: inline-size;
  min-height: 100svh;
}

hr {
  border: none;
  border-top: 2px solid var(--base-color-text);
  margin-block: 0.5rem;
}

ul {
  padding-left: 2rem;
}

ul li {
  margin-bottom: 1rem;
}

p.small {
  width: 500px;
}

.card {
  background-color: var(--card-background-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: var(--base-color-text);

  & :hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
  }

  & .footer {
    background-color: var(--card-footer-color);
  }
}

a.card {
  display: block;
  text-decoration: none;
}

.tabs {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;

  & > * {
    padding: 1rem 24px 1rem 24px;
    text-align: center;
    text-decoration: none;
  }

  & a {
    color: inherit;
    white-space: nowrap;

    &:not(.active):hover {
      background-color: hsla(0, 0%, 100%, 0.1);
      color: var(--primary-color-text-title);
    }
  }

  & .active {
    background-color: var(--base-color);
    color: var(--tab-active-color);
  }
}

.tab {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.snap-tabs {
  display: flex;
  flex: 0 0 auto;
  justify-content: initial;
  overflow: auto hidden;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  & > .tab {
    display: flex;
    flex: 0 0 auto;
    overscroll-behavior-y: contain;
    scroll-snap-align: center;
  }
}

*:focus-visible {
  /* More visible outline for better keyboard navigation. */
  outline: 0.125rem solid hsl(220, 100%, 62.5%);
  /* Make the outline always appear above other elements. */
  /* Otherwise, one of its sides can be hidden by tabs in the Download and More layouts. */
  z-index: 100;
}

body {
  background-color: var(--base-color);
  color: var(--base-color-text);
  font-family: var(--default-font-family);
  font-size: 1.125rem;
  margin: 0;
  min-height: 100svh;
  overflow-x: hidden;
}

body a {
  color: var(--link-color);
  outline: none;
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: 0.125rem;
  /*!* Prevent color transitions from being too fast (for epilepsy). *!*/
  transition: 0.1s filter;
  /* Prevent the whole page from repainting */
  will-change: filter;
}

body a,
.btn.flat,
.search-bar-btn:hover {
  /* Use `filter` on all states to prevent the clickable area from changing */
  /* when an image is hovered (see GH-369). */
  filter: brightness(100%);
}

body a:hover,
.btn.flat:hover,
.search-bar-btn:hover {
  filter: brightness(117.5%);
}

body a:active,
.btn.flat:active,
.search-bar-btn:active {
  filter: brightness(82.5%);
}

.youtube {
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.youtube iframe {
  background-color: black;
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@container main (width < 1250px) {
  body {
    width: auto;
  }
}

@container main (width < 1200px) {
  .hide-on-mobile {
    display: unset;
  }

  article .content {
    width: 100%;
  }
}

@container main (width < 900px) {
  p.small {
    width: auto;
  }

  ul {
    padding-left: 1rem;
  }

  .main-image {
    height: 30vh;
  }

  .full-graphic {
    display: none;
  }

  .tabs {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: normal;
  }
}
