---
---
@import "common/release";

html {
	scroll-behavior: smooth;

	@media (prefers-reduced-motion) {
		scroll-behavior: auto;
	}
}

footer {
	margin-top: 0;
}

.release-container {
	position: relative;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
