:root {
  ;
  --transparent-cover: rgb(51, 63, 103, 0.4);
  --transparent-cover-darker: rgba(51, 63, 103, 0.9);

  --base-color: #eff1f5;
  --base-color-text: #4a5365;
  --base-color-text-hl: #454b59;
  --base-color-text-title: #546b99;
  --base-color-text-subtitle: #8a9cc2;

  --dark-color: #333f67;
  --dark-color-text: lightsteelblue;
  --dark-color-text-hl: #d4e3f6;
  --dark-color-text-title: white;

  --primary-color: #3d8fcc;
  --primary-color-text: #d4edff;
  --primary-color-text-hl: white;
  --primary-color-text-title: white;

  --base-shadow: 0 0 4px rgba(0, 0, 0, .2);

  --accent-color: #f57389;
}


body {
  /*font-family: 'Barlow', sans-serif;*/
  font-family: sans-serif;
  font-size: 18px;

  background-color: var(--base-color);
  color: var(--base-color-text);

  margin: 0px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  margin-top: 64px;
}

body a {
  outline: none;
  color: var(--primary-color);
}

h1, h2, h3, h4, nav a, .btn, a.btn, .title-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--base-color-text-title);
  margin-top: 0px;
}


h1 {
  font-size: 42px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}

.intro-title {
  margin-top: 48px;
  margin-bottom: 48px;
}

.title {
  margin-top: 48px;
}



.container {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
  overflow: visible;
}

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}
.flex.justify-space-between {
  justify-content: space-between;
}

.flex.eqsize > * {
  flex: 1;
}


.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid > * {
  flex: 1;
  min-width: 250px;
  margin-right: 16px;
  margin-bottom: 16px;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
  }
  .grid > * {
    width: 100%;
    min-width: unset;
    margin-right: 0;
    margin-bottom: 0;
  }
}


.base-padding {
  padding: 16px;
}
.unpad-left {
  padding-left: 0px;
}
.unpad-right {
  padding-right: 0px;
}



header {
  width: 100vw;
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: var(--base-shadow);
  z-index: 100;
  position: fixed;
  top: 0;
}
header > div.container {
  width: 100%;
}
header .container {
  overflow: initial;
}
#logo-link {
  height: 48px;
  margin-right: 48px;
}
#nav_head {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav_toggle_cb, #nav_toggle_btn {
  display: none;
  line-height: 0px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-color);
}
nav ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
}
nav > ul > :first-child {
  padding-left: 0px;
}
nav > ul > :last-child {
  padding-right: 0px;
}
nav li {
  text-transform: uppercase;
}
nav > ul > li {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0px;
}
nav li.active > a {
  color: var(--primary-color);
}

nav > ul ul {
  display: none;
}


a.patreonLink {
  text-decoration: none;
  height: 64px !important;
  margin-left: 16px !important;
}
a.patreonLink > .patreon {
  height: inherit;
  padding-left: 8px;
  padding-right: 8px;
}
a.patreonLink .patreon-brand {
  background-size: 160px;
}
a.patreonLink .patreon-uppercase {
  font-size: 12px;
}

ul {
  padding-left: 2rem;
}
ul li {
  margin-bottom: 16px;
}


footer {
  border-top: 1px dashed rgba(192, 196, 213, .6);
  color: rgb(192, 196, 213);
  margin-top: 128px;
  padding-top: 32px;
  padding-bottom: 32px;
}
footer ul {
  list-style: none;
  margin: 0px;
  float: left;
  overflow-wrap: break-word;
  margin-left: 32px;
  padding-left: 0px;
}
footer a {
  text-decoration: none;
  color: rgba(158, 168, 203, 0.9);
}
footer a:hover {
  text-decoration: none;
  color: rgba(128, 139, 179, 0.9);
}
#copyright {
  /*flex: 1;*/
}
#sitemap {
  flex: 2;
}
#social {
  flex: 1;
  margin-left: 32px;
}


.pagination {
  margin-top: 64px;
}

.pagination a {
  color: inherit;
  text-decoration: none;
  margin-right: 12px;
}
.pagination a.active {
  color: var(--primary-color);
}
.pagination a:hover {
  color: var(--accent-color);
}



.padded {
  padding-top: 64px;
  padding-bottom: 64px;
}



#main_image {
  background-color: var(--transparent-cover);
  padding: 0px;
  margin: 0px;
  background-image: url("../home/background.jpg");
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
  height: 600px;
}


svg.icon {
  fill: red;
  height: 42px;
  width: 42px;
}

p, ul {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justified {
  text-align: justify;
}


p.small {
  width: 500px;
}
.auto-margin {
  margin: auto;
}


.head {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  margin-bottom: 32px;
}
.head h1, .head h2, .head h3 {
  color: var(--primary-color-text-title);
  margin: 0px;
}
.head .main > :first-child {
  margin-top: 32px;
}
.head .main > :last-child {
  margin-bottom: 32px;
}
.head a {
  color: white;
  text-decoration: none;
}

.dark {
  background-color: var(--dark-color);
  color: var(--dark-color-text);
}
.dark h1, .dark h2, .dark h3 {
  color: var(--dark-color-text-title);
}


.btn {
  box-shadow: var(--base-shadow);
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
a.btn {
  background-color: white;
  box-shadow: var(--base-shadow);
  font-size: 18px;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

a.btn.flat {
  background: none;
  box-shadow: none;
  color: var(--primary-color);
  padding: 0px;
  margin: 16px 32px 16px 32px;
}

a.btn.download {
  padding: 0px;
  margin-top: 48px;
}
a.btn.download > .main {
  background-color: white;
  color: var(--dark-color);
  display: inline-block;
  padding: 16px 32px 16px 32px;
}
a.btn.download > .opt {
  background-color: var(--primary-color);
  color: var(--primary-color-text-title);
  display: inline-block;
  padding: 16px 16px 16px 16px;
}

.date-big {
  font-size: 64px;
  color: #b6bfd1;
}
.date-small {
  font-size: 14px;
  font-weight: bold;
  color: #8f9db9;
}

.author {
  color: var(--base-color-text-subtitle);
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

.author .date {
  color: var(--base-color-text-subtitle);
  padding-left: 24px;
}

.card {
  background-color: white;
  color: var(--base-color-text);
  border: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;

  transition: box-shadow .2s ease-in-out;
}
.card > hr {
  border-color: rgba(0, 0, 0, 0.05);
}
.card .footer {
  background-color: #dbdee4;
}
.card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, .2), 0 0 2px rgba(0, 0, 0, .1);
}

a.card {
  text-decoration: none;
  display: flex;
}


.tabs {
  display: flex;
  align-items: flex-end;
}
.tabs > * {
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  text-align: center;
}
.tabs a {
  color: inherit;
  white-space: nowrap;
}
.tabs .active {
  background-color: var(--base-color);
  color: var(--primary-color);
}

code {
  font-family: monospace;
  background-color: rgba(0, 0, 0, .05);
  padding: 8px;
  border-radius: 2px;
}
pre {
  white-space: pre-line;
}


#sfc_graphic {
  width: 400px;
}

@media (min-width: 1400px) {
  .container > :first-child {
    padding-left: 0px;
  }
  .container > :last-child {
    padding-right: 0px;
  }
}
@media (max-width: 1200px) {
  body {
    width: auto;
  }
  .container {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  article .content {
    width: 100%;
  }
}
@media (max-width: 900px) {

  header {
    height: auto;
  }

  #logo-link {
    margin: 0;    
  }
  #nav_head {
    width: 100%;
  }
  #nav_toggle_btn {
    display: block;
  }
  #nav_toggle_cb:checked ~ nav {
    display: block;
  }
  #nav {
    display: none;
  }
  nav ul {
    align-items: flex-start;
    flex-direction: column;
    height: auto;
  }
  nav > ul {
    margin-bottom: 16px;
    margin-top: 16px;
  }
  nav ul > li {
    padding: 0;
    padding-top: 16px;
    width: 100%;
  }
  nav ul a {
    width: 100%;
    display: block;
  }
  a.patreonLink {
    text-decoration: none;
    height: 64px !important;
    margin-left: 0px !important;
    margin-top: 16px;
    width: 100%;
  }
  a.patreonLink > .patreon {
    height: inherit;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }
  #asset_lib::after {
    content: "asset lib";
  }

  .container {
    width: auto;
    overflow: auto;
    flex-direction: column;
    padding: 0px 16px 0px 16px;
  }
  .container.sm-full {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container.sm-full:not(.padded) {
    padding: 0px;
  }
  
  .padded {
    padding: 32px 16px 32px 16px;
  }

  .container .padded {
    padding: 32px 0px 32px 0px;
  }

  p.small {
    width: auto;
  }

  ul {
    padding-left: 1rem;
  }

  .flex.responsive {
    flex-direction: column;
  }
  .flex.eqsize.responsive {
    flex-direction: column;
  }
  #main_image {
    height: 30vh;
  }

  .full-graphic {
    display: none;
  }

  footer {
    text-align: center;
  }
  #sitemap {
    margin-top: 32px;
    margin-left: 0;
  }
  #social {
    margin-left: 0;
    margin: auto;
    width: 30%;
    min-width: 250px;
    margin-top: 32px;
  }
  #social h4 {
    text-align: center;
  }
  #social > div {
    justify-content: space-around;
  }

  .tabs {
    overflow: scroll;
  }
}
@media (max-width: 500px) {
  #sfc_graphic {
    width: 100%;
  }
}