:root {
  --transparent-cover: rgb(51, 63, 103, 0.4);
  --transparent-cover-darker: rgba(51, 63, 103, 0.9);

  --base-color: #eff1f5;
  --base-color-text: #4a5365;
  --base-color-text-hl: #454b59;
  --base-color-text-title: #546b99;
  --base-color-text-subtitle: #8a9cc2;

  --dark-color: #333f67;
  --dark-color-text: lightsteelblue;
  --dark-color-text-hl: #d4e3f6;
  --dark-color-text-title: white;

  --primary-color: hsl(206, 58%, 52%);
  --primary-color-text: #d4edff;
  --primary-color-text-hl: white;
  --primary-color-text-title: white;
  --accent-color: #f57389;

  --link-color: hsl(206, 58%, 50%);
  --link-underline-color: hsla(206, 58%, 50%, 0.3);
  --navbar-link-color: var(--dark-color);
  --navbar-link-current-color: var(--primary-color);
  --footer-link-color: rgb(200, 210, 250);
  --footer-link-underline-color: rgba(200, 210, 250, 0.3);
  --tab-active-color: var(--primary-color);

  --base-shadow: 0 0 4px rgba(0, 0, 0, .2);
  --more-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  --background-color: #d5daea;
  --navbar-background-color: #ffffff;
  --head-background-color: var(--primary-color);
  --card-background-color: #ffffff;
  --card-footer-color: #eeeeee;
  --button-background-color: #ffffff;
  --footer-color: rgb(175, 180, 220);
  --footer-background-color: #414d69;

  --code-background-color: #dcdfe2;
  --codeblock-background-color: #282b2e;
  --codeblock-color: #e0e2e4;
}

.nav-logo.dark-logo {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --transparent-cover: rgb(51, 63, 103, 0.4);
    --transparent-cover-darker: rgba(51, 63, 103, 0.9);

    --base-color: #25282b;
    --base-color-text: hsla(0, 0%, 100%, 0.9);
    --base-color-text-hl: hsla(0, 0%, 100%, 1.0);
    --base-color-text-title: hsla(200, 00%, 100%, 0.85);
    --base-color-text-subtitle: hsla(200, 00%, 100%, 0.7);

    --dark-color: #263256;
    --dark-color-text: lightsteelblue;
    --dark-color-text-hl: #d4e3f6;
    --dark-color-text-title: white;

    --primary-color: #4d9fdc;
    --primary-color-text: #d4edff;
    --primary-color-text-hl: white;
    --primary-color-text-title: white;
    --accent-color: #f57389;

    --link-color: hsl(200, 60%, 70%);
    --link-underline-color: hsla(200, 60%, 60%, 0.3);
    --navbar-link-color: hsla(0, 0%, 100%, 0.9);
    --navbar-link-current-color: hsl(200, 100%, 80%);
    --footer-link-color: hsla(0, 0%, 100%, 0.85);
    --footer-link-underline-color: hsla(0, 0%, 100%, 0.25);
    --tab-active-color: white;

    --base-shadow: 0 0 4px rgba(0, 0, 0, .4);
    --more-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    --background-color: #202326;
    --navbar-background-color: #333639;
    --head-background-color: #232f57;
    --card-background-color: #333639;
    --card-footer-color: #505356;
    --button-background-color: #333639;
    --footer-color: hsla(0, 0%, 100%, 0.625);
    --footer-background-color: #333639;

    --code-background-color: #333639;
    --codeblock-background-color: #333639;
    --codeblock-color: hsla(0, 0%, 100%, 0.9);
  }

  /* Use logo with white text for dark navbar. */
  .nav-logo {
    display: none;
  }
  .nav-logo.dark-logo {
    display: initial;
  }

  /* Fade Patreon widget a little to be less distracting. */
  .patreon {
    opacity: 0.85;
  }

  /* Invert hamburger menu button on mobile to be visible on dark navbar. */
  #nav_toggle_btn {
    filter: invert(100%) saturate(0%) brightness(120%);
  }

  .dark-invert {
    filter: invert(100%);
  }

  .dark-desaturate {
    filter: saturate(0%);
  }
}

*:focus {
  /* More visible outline for better keyboard navigation. */
  outline: 0.125rem solid hsl(220, 100%, 62.5%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;

  background-color: var(--base-color);
  color: var(--base-color-text);

  margin: 0px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

body a {
  outline: none;
  text-decoration: none;
  color: var(--link-color);
}
body a {
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: 0.125rem;
}
body a:hover, a.btn.flat:hover {
  filter: brightness(117.5%);
}
body a:active, a.btn.flat:active {
  filter: brightness(82.5%);
}

h1, h2, h3, h4, nav a, .btn, a.btn, .title-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: var(--base-color-text-title);
  margin-top: 0px;
}

.base-color-text {
  color: var(--base-color-text);
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}

.intro-title {
  margin-top: 48px;
  margin-bottom: 48px;
}

.title {
  margin-top: 48px;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
  overflow: visible;
}

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}
.flex.justify-space-between {
  justify-content: space-between;
}

.flex.eqsize > * {
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
}
.grid > * {
  width: 100%;
  min-width: unset;
  margin-right: 0;
  margin-bottom: 0;
}

.base-padding {
  padding: 16px;
}
.unpad-left {
  padding-left: 0px;
}
.unpad-right {
  padding-right: 0px;
}

header {
  width: 100vw;
  height: 64px;
  background-color: var(--navbar-background-color);
  display: flex;
  align-items: center;
  box-shadow: var(--base-shadow);
  z-index: 100;
}
header > div.container {
  width: 100%;
}
header .container {
  overflow: initial;
}
#logo-link {
  margin-right: 48px;
  /* Make the logo's clickable area as tall as for other navigation links. */
  padding: 0.1875rem 0;
  margin-top: 0.25rem;
}
#nav_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav_toggle_cb, #nav_toggle_btn {
  display: none;
  line-height: 0px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--navbar-link-color);
  /* Make links easier to click. */
  padding: 1.3175rem 1rem;
}
nav a:hover,
#logo-link:hover {
  background-color: hsla(0, 0%, 50%, 0.1);
}
nav ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
}
nav > ul > :first-child {
  padding-left: 0px;
}
nav > ul > :last-child {
  padding-right: 0px;
}
nav > ul > li {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0px;
  margin-left: -1rem;
  margin-right: -1rem;
}
nav li.active > a {
  color: var(--navbar-link-current-color);
}

nav > ul ul {
  display: none;
}

a.patreonLink {
  text-decoration: none;
  height: 64px !important;
  margin-left: 16px !important;
}
a.patreonLink > .patreon {
  height: inherit;
  padding-left: 8px;
  padding-right: 8px;
}
a.patreonLink .patreon-brand {
  background-size: 160px;
}
a.patreonLink .patreon-uppercase {
  font-size: 12px;
}

ul {
  padding-left: 2rem;
}
ul li {
  margin-bottom: 16px;
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);;
  font-size: 0.9em;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
}
footer ul {
  list-style: none;
  margin: 0px;
  float: left;
  overflow-wrap: break-word;
  margin-left: 32px;
  padding-left: 0px;
}
footer a {
  color: var(--footer-link-color);
  text-decoration-color: var(--footer-link-underline-color);
}
#sitemap {
  flex: 2;
}
#sitemap li {
  margin-bottom: 10px;
}
#social {
  flex: 1;
  margin-left: 32px;
}

.pagination {
  margin-top: 64px;
  justify-content: center;
}

.pagination a {
  color: inherit;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin-right: 12px;
  min-width: 16px;
}

/* Make blog article images readable on a dark background. */
article .content img {
  background-color: white;
}

@media (max-width: 900px) {
  blockquote {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .pagination {
    display: block;
    justify-content: initial;
    line-height: 40px;
    text-align: center;
  }

  .pagination a {
    min-width: 28px;
    min-height: 28px;
  }
}

.padded {
  padding-top: 64px;
  padding-bottom: 64px;
}

#main_image {
  background-color: var(--transparent-cover);
  padding: 0px;
  margin: 0px;
  background-image: url("../home/background.jpg");
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
  height: 600px;
}

svg.icon {
  fill: red;
  height: 42px;
  width: 42px;
}

p, ul, ol {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justified {
  text-align: justify;
}

p.small {
  width: 500px;
}
.auto-margin {
  margin: auto;
}

.head {
  background-color: var(--head-background-color);
  color: var(--primary-color-text);
  margin-bottom: 32px;
}
.head h1, .head h2, .head h3 {
  color: var(--primary-color-text-title);
  margin: 0px;
}
.head .main > :first-child {
  margin-top: 32px;
}
.head .main > :last-child {
  margin-bottom: 32px;
}
.head a {
  color: white;
  text-decoration: none;
}

.dark {
  background-color: var(--dark-color);
  color: var(--dark-color-text);
}
.dark h1, .dark h2, .dark h3, .dark h4 {
  color: var(--dark-color-text-title);
}

.btn {
  box-shadow: var(--base-shadow);
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
a.btn {
  background-color: var(--button-background-color);
  box-shadow: var(--base-shadow);
  font-size: 18px;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

a.btn:hover {
  box-shadow: var(--more-shadow);
}

a.btn.flat {
  box-shadow: none;
  background-color: transparent;
  color: var(--link-color);
  margin: 16px 32px 16px 32px;
}
a.btn.flat:hover {
  background-color: hsla(0, 0%, 50%, 0.1);
}
a.btn.flat.btn-white-text {
  color: hsla(0, 0%, 100%, 0.95);
}

a.btn.download {
  padding: 0px;
  margin-top: 48px;
}
a.btn.download > .main {
  background-color: white;
  color: var(--dark-color);
  display: inline-block;
  padding: 16px 32px 16px 32px;
}
a.btn.download > .opt {
  background-color: var(--primary-color);
  color: var(--primary-color-text-title);
  display: inline-block;
  padding: 16px 16px 16px 16px;
}

.date-big {
  font-size: 64px;
  color: #b6bfd1;
}
.date-small {
  font-size: 14px;
  font-weight: bold;
  color: #8f9db9;
}

.author {
  color: var(--base-color-text-subtitle);
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

.author .date {
  color: var(--base-color-text-subtitle);
  padding-left: 24px;
}

.card {
  background-color: var(--card-background-color);
  color: var(--base-color-text);
  border: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
}
.card hr {
  border-color: rgba(0, 0, 0, 0.05);
}
.card .footer {
  background-color: var(--card-footer-color);
}
.card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, .2), 0 0 2px rgba(0, 0, 0, .1);
}

a.card {
  text-decoration: none;
  display: flex;
}
.steam-download:hover {
  color: hsla(0, 0%, 100%);
}

.tabs {
  display: flex;
  align-items: flex-end;
}
.tabs > * {
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  text-align: center;
}
.tabs a {
  color: inherit;
  white-space: nowrap;
}
.tabs a:not(.active):hover {
  color: var(--primary-color-text-title);
  background-color: hsla(0, 0%, 100%, 0.1);
}
.tabs .active {
  background-color: var(--base-color);
  color: var(--tab-active-color);
}

code {
  font-family: monospace;
}
pre {
  font-family: monospace;
  white-space: pre-wrap;
  background-color: var(--code-background-color);
  padding: 8px;
  border-radius: 2px;
  overflow-y: auto;
}
pre > code {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-margin {
  margin: 0px !important;
}

#sfc_graphic {
  width: 400px;
}

@media (min-width: 1400px) {
  .container > :first-child {
    padding-left: 0px;
  }
  .container > :last-child {
    padding-right: 0px;
  }
}
@media (max-width: 1200px) {
  body {
    width: auto;
  }
  .container {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  article .content {
    width: 100%;
  }

  header {
    height: auto;
  }
  header > div {
    flex-direction: column;
  }

  #logo-link {
    margin: 0;
  }
  #nav_head {
    width: 100%;
    margin-top: 0.25rem;
  }
  #nav_toggle_btn {
    display: block;
    /* Make the navbar toggle button easier to click. */
    padding: 1.25rem;
    margin-top: -0.2rem;
    margin-right: -1rem;
  }
  #nav_toggle_btn:hover,
  #nav_toggle_btn:active {
    background-color: hsla(0, 0%, 50%, 0.15);
  }
  #nav_toggle_cb:checked ~ nav {
    display: block;
  }
  #nav {
    display: none;
  }
  nav ul {
    align-items: flex-start;
    flex-direction: column;
    height: auto;
  }
  nav > ul {
    margin-bottom: 16px;
  }
  nav ul > li {
    padding: 0;
    padding-top: 16px;
    width: 100%;
  }
  nav ul a {
    width: 100%;
    display: block;
    /* Make links easier to click but still close to each other. */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: -0.4375rem;
    margin-bottom: -0.4375rem;
  }
  a.patreonLink {
    text-decoration: none;
    height: 64px !important;
    margin-left: 0px !important;
    margin-top: 16px;
  }
  a.patreonLink > .patreon {
    height: inherit;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 900px) {
  .hide-on-mobile {
    display: none;
  }

  a.patreonLink, a.patreonLink > .patreon {
    width: 100%;
  }

  .container {
    width: auto;
    overflow: auto;
    flex-direction: column;
    padding: 0px 16px 0px 16px;
  }
  .container.sm-full {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container.sm-full:not(.padded) {
    padding: 0px;
  }

  .padded {
    padding: 32px 8px 32px 8px;
  }

  .container .padded {
    padding: 32px 0px 32px 0px;
  }

  p.small {
    width: auto;
  }

  ul {
    padding-left: 1rem;
  }

  .flex.responsive {
    flex-direction: column;
  }
  .flex.eqsize.responsive {
    flex-direction: column;
  }
  #main_image {
    height: 30vh;
  }

  .full-graphic {
    display: none;
  }

  footer {
    text-align: center;
  }
  #sitemap {
    margin-top: 32px;
    margin-left: 0;
  }
  #social {
    margin-left: 0;
    margin: auto;
    width: 30%;
    min-width: 250px;
    margin-top: 32px;
  }
  #social h4 {
    text-align: center;
  }
  #social > div {
    justify-content: space-around;
  }

  .tabs {
    overflow: scroll;
  }
}
@media (max-width: 500px) {
  #sfc_graphic {
    width: 100%;
  }
}

.showcase-card {
  /* Display a placeholder color while the card's background image is loading. */
  background-color: hsl(0, 0%, 50%) !important;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 0.25rem;
  color: hsl(0, 0%, 100%);
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-card:hover {
  filter: brightness(110%);
}

.showcase-card:active {
  filter: brightness(90%);
}

.showcase-card-title {
  font-size: 180%;
  font-weight: 700;
  /* Compensate for the platform icon margins. */
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-shadow: 0.125rem 0.125rem 0.125rem hsl(0, 0%, 0%);
}

.showcase-card-icons {
  filter: invert(100%);
  text-align: center;
  opacity: 0.75;
  margin-top: 2rem;
}
