.article-page {
  .article-cover {
    & figcaption {
      line-height: 1.5;
      opacity: 0.8;

      & a {
        color: inherit;
      }
    }
  }

  & h1 {
    margin-bottom: 8px;
    margin-top: 2rem;
  }

  article h2, article h3, article h4 {
    margin-top: 2.625rem;
  }

  & .date-big {
    line-height: 2;
    margin-left: 2rem;
  }

  & article {
    background-color: var(--base-color);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.15);

    & img, & video {
      margin: 1rem auto;
    }
  }

  & figure {
    margin: 0;
  }

  & .article-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .article-metadata {
    align-items: center;
    display: flex;
    font-family: var(--header-font-family);
    gap: 1.5rem;
    margin-bottom: 0.75rem;

    & .date {
      color: var(--base-color-text-subtitle-date);

      &.post-recent-highlight {
        color: var(--post-recent-highlight-color);
        opacity: 0.8;

        &::after {
          border: 2px solid var(--post-recent-highlight-color);
          content: "NEW";
          font-size: 80%;
          margin-left: 8px;
          padding: 2px 3px;
        }
      }
    }
  }

  & .article-author {
    align-items: center;
    color: var(--base-color-text-subtitle-date);
    display: flex;
    flex-grow: 1;
    font-size: 1.125rem;
    font-weight: 700;
    gap: 0.75rem;

    & .avatar {
      border-radius: 100%;
      margin: 0;
    }

    & .by {
      color: var(--base-color-text-subtitle);
    }
  }

  & .tag.active {
    filter: saturate(0.75);
  }

  /*CARDS */

  & .card-download {
    align-items: flex-start;
    background: var(--head-background-color);
    border-radius: 4px 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .card-download-link {
      color: var(--dark-color-text-title);
      font-size: 135%;
      font-weight: 700;
      padding: 0.6rem 1rem 0 1rem;
      text-decoration-color: var(--dark-color-text);
    }

    & .card-download-details {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      justify-content: space-between;
      padding: 0 1rem;
      width: 100%;

      & > img {
        background-color: transparent;
        display: inline-block;
        margin: 0;
        max-height: 150px;
        min-width: 0;
      }
    }

    & .card-download-platforms {
      display: grid;
      gap: 8px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    & .download-platform {
      align-items: center;
      color: var(--primary-color-text-title);
      display: flex;
      font-weight: 700;
      gap: 0.75rem;
      min-width: 120px;

      & img {
        background-color: transparent;
        display: inline-block;
        filter: invert(100%);
        height: 24px;
        margin: 0;
        width: 24px;
      }
    }

    & .btn-download-primary {
      margin-bottom: 0;
      text-align: left;

      & .download-title {
        font-size: 1.125rem;
        line-height: 24px;
        padding: 10px 1rem;
        white-space: nowrap;
      }
    }

    & .btn-download-primary--mono {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background-color: var(--download-mono-background-color);

      & .download-title {
        color: #f7f7f7;
      }

      & .download-hint {
        background-color: var(--primary-color-subdued);
        color: var(--text-color);
      }
    }

    & .card-download-sublinks {
      align-items: flex-start;
      background: var(--download-table-color);
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      justify-content: space-between;
      padding: 10px 1rem;
      width: 100%;

      & .card-download-other,
      & .card-download-donate {
        color: var(--dark-color-text-hl);
        font-size: 95%;
        text-decoration-color: var(--dark-color-text);
        text-decoration-thickness: 1px;
      }

      & .card-download-donate {
        color: var(--fund-color-faint);
        font-weight: 600;
        text-decoration-color: var(--fund-color-faint);
      }
    }
  }
}

body:has(.article-page) {
  background-color: var(--background-color);
}

@container main (width >= 900px) {
  .article-page article .content {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 920px) {
  body:has(.article-page) {
    background-color: var(--base-color);
  }
}

@container main (width < 900px) {
  .article-page {
    & .article-metadata {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    article {
      background-color: unset;
      box-shadow: none;
    }

    .card-download .card-download-platforms .btn-download-primary .download-title {
      line-height: 28px;
      padding: 0.75rem 0.875rem;
    }
  }
}

@container main (width < 768px) {
  .article-page .card-download {
    & .card-download-details {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      & img {
        max-height: 220px;
        max-width: 95%;
      }
    }

    & .card-download-sublinks {
      flex-direction: column;
    }
  }
}
