.events-page .events {
  display: grid;
  grid-template-columns: 360px 1fr;
  margin-top: 1.5rem;
  row-gap: 3rem;
}

.events-page .event-card h4 {
  margin-bottom: 0;
  margin-top: 36px;
}

.events-page .event-card img {
  border-radius: 4px;
  margin: 1.5rem 0;
  max-height: 360px;
  width: auto;
}

.events-page .events-fulllist {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.events-page .events-shortlist__wrap {
  padding-right: 1rem;
  width: 320px;
}

.events-page .events-shortlist__anchor {
  position: sticky;
  top: 24px;
}

.events-page .events-shortlist__anchor > h2 {
  line-height: 0.8em;
}

.events-page .events-shortlist {
  margin-top: 1.5rem;
}

.events-page .events-shortlist > li {
  display: flex;
  flex-direction: column;
}

.events-page .events-shortlist > li > a {
  font-size: 110%;
}

.events-page .events-shortlist > li > span:last-child {
  opacity: 0.64;
}

.events-page .events-shortlist__bulletpoint {
  position: relative;
}

.events-page .events-shortlist__bulletpoint:before {
  content: "•";
  font-size: 120%;
  left: -18px;
  position: absolute;
  top: -4px;
}

.events-page .event-details {
  margin: 1rem 0;
}

.events-page .event-details > li p {
  display: inline;
}

.events-page #past {
  margin-top: 30px;
}

@container main (width < 900px) {
  .events-page .events {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .events-page .events-shortlist__wrap {
    position: static;
  }

  .events-page .events-shortlist {
    padding-left: 2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :has(.events-page) {
    scroll-behavior: smooth;
  }
}
