<input type="checkbox" id="nav_toggle_cb">
<div class="flex">
  <div id="nav_head">
    <a href="{{ relLangURL "" }}" id="logo-link" title="Godot Engine">
      <img class="nav-logo" src="/assets/logo.svg" width="136" height="48" alt="Godot Engine" fetchpriority="low"
           decoding="async">
      <img class="nav-logo dark-logo" src="/assets/logo_dark.svg" width="136" height="48" alt="Godot Engine"
           fetchpriority="low" decoding="async">
    </a>
    <label for="nav_toggle_cb" id="nav_toggle_btn">
      <img src="/assets/icons/hamburger.svg" width="24" height="24" alt="Main menu" fetchpriority="low"
           decoding="async">
    </label>
  </div>

  <nav id="nav">
    <ul class="left">
      <li><a href="{{ relLangURL "features/" }}">{{ T "common.features" }}</a></li>
      <li class="only-on-mobile"><a href="{{ relLangURL "showcase/" }}">{{ T "common.showcase" }}</a></li>
      <li><a href="{{ relLangURL "blog/" }}">{{ T "common.blog" }}</a></li>
      <li><a href="{{ relLangURL "community/" }}">{{ T "common.community" }}</a></li>
      <li><a href="{{ relLangURL "contact/" }}">{{ T "common.about" }}</a></li>
      <li><a href="https://godotengine.org/asset-library/asset">{{ T "common.assets" }}</a></li>
    </ul>

    <ul class="right">
      <li><a href="{{ relLangURL "download/windows/" }}" class="set-os-download-url">{{ T "common.download" }}</a>
      </li>
      <li><a href="https://docs.godotengine.org">{{ T "common.learn" }}</a></li>
      <li>
        <a
          href="https://docs.godotengine.org/en/stable/community/contributing/index.html">{{ T "common.contribute" }}</a>
      </li>

      {{/* We add the control character at the end to force the heart to render as text and not as an emoji. */}}
      <li class="fund"><a href="https://fund.godotengine.org">❤&#xFE0E; {{ T "common.donate" }}</a></li>
    </ul>
  </nav>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const header = document.querySelector('header');
    const navToggle = document.getElementById('nav_toggle_cb');

    // Close navigation dropdown when the user clicks outside of it.
    document.addEventListener('click', (e) => {
      if (!header.contains(e.target)) {
        closeDropdownMenu();
      }
    })

    function closeDropdownMenu() {
      navToggle.checked = false;
    }
  });
</script>
