---
permalink: /features/index.html
title: "Features - Godot Engine"
description: "Discover what Godot has to offer for 2D and 3D game development."
layout: default
---

{% include header.html %}

<style>
	.features-why {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--dark-color);
	}

	.features-why h2 {
		color: var(--dark-color-text-title);
		font-size: 40px;
		margin: 36px 54px 8px 54px;
	}

	.feature-container {
		display: grid;
		justify-content: center;
		gap: 16px;
		grid-template-columns: 1fr;
		margin: auto;
		margin-bottom: 32px;
		width: 1200px;
		max-width: 1200px;
	}
	@media (max-width: 1250px) {
		.feature-container {
			width: auto;
			padding-left: 16px;
			padding-right: 16px;
		}
	}
	@media (max-width: 900px) {
		.feature-container {
			width: auto;
			overflow: auto;
			flex-direction: column;
		}
	}

	.feature-container h3 {
		font-size: 22px;
		margin-bottom: 4px;
	}
	
	.feature-container.feature-container-2x {
		grid-template-columns: 1fr 1fr;
	}
	.feature-container.feature-container-2x h3 {
		grid-column: span 2;
	}
	@media (max-width: 1020px) {
		.feature-container.feature-container-2x {
			grid-template-columns: 1fr;
		}
		.feature-container.feature-container-2x h3 {
			grid-column: span 1;
		}
	}
	
	.feature-container.feature-container-3x {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.feature-container.feature-container-3x h3 {
		grid-column: span 3;
	}
	@media (max-width: 1020px) {
		.feature-container.feature-container-3x {
			grid-template-columns: 1fr 1fr;
		}
		.feature-container.feature-container-3x h3 {
			grid-column: span 2;
		}
	}
	@media (max-width: 800px) {
		.feature-container.feature-container-3x {
			grid-template-columns: 1fr;
		}
		.feature-container.feature-container-3x h3 {
			grid-column: span 1;
		}
	}

	.feature-card {
		background-color: var(--card-background-color);
		border-radius: 12px;
	}

	.feature-card p {
		margin-top: 24px;
		margin-bottom: 12px;
	}

	.feature-card strong {
		color: var(--navbar-link-current-color);
	}

	.features-showreel {
		background-color: var(--dark-color);
		color: var(--dark-color-text-hl);
		padding: 24px 32px 28px 32px;
	}

	.features-showreel p {
		margin-top: 0;
		margin-bottom: 8px;
	}

	.features-complete-list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.features-complete-list .btn.btn-flat.btn-flat-white {
		color: var(--base-color-text-title);
	}

	.features-download {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		background-color: var(--dark-color);
		padding: 16px;
	}
	@media (max-width: 900px) {
		.features-download {
			padding: 16px;
		}
	}

	.features-download p {
		color: var(--dark-color-text-title);
		margin: 0;
	}

	.features-download-ready {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
	}
	@media (max-width: 800px) {
		.features-download-ready {
			flex-direction: column;
		}
	}

	.features-download-ready h2 {
		color: var(--dark-color-text-title);
		font-weight: 600;
		margin: 0;
	}

	.features-showcase {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--dark-color);
		color: var(--dark-color-text-hl);
		margin-bottom: 24px;
	}

	@media (max-width: 900px) {
		.features-showcase {
			padding: 0 16px;
		}
	}

	.showcase-carousel {
		position: relative;
		width: 100%;
		max-width: 780px;
		aspect-ratio: 16/9;
	}

	.showcase-flip-left,
	.showcase-flip-right {
		position: absolute;
		top: 50%;
		left: 12px;
		width: 20px;
		height: 36px;
		transform: translateY(-50%);
		background-image: url('/assets/arrow-flip.svg');
		background-size: cover;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 5;
	}
	.showcase-flip-left {
		transform: translateY(-50%) scaleX(-1.0);
	}
	.showcase-flip-right {
		left: auto;
		right: 12px;
	}

	.showcase-items {
		position: relative;
		overflow: hidden;
		aspect-ratio: 16/9;
	}

	.showcase-item {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--dark-color);
		width: 100%;
		height: 100%;
	}
	.showcase-item-transition {
		transition: transform 0.4s ease-in-out, z-index 0.1s linear 0.4s;
	}

	.showcase-item img {
		border-radius: 8px;
		width: 100%;
	}

	.showcase-credits {
		position: absolute;
		bottom: 12px;
		right: 16px;
		background: #1a1a1a7a;
		border-radius: 8px;
		padding: 2px 10px;
	}

	.showcase-title {
		color: white;
		font-weight: 600;
	}

	.showcase-author {
		color: #b3c1df;
		font-size: 95%;
		opacity: 0.9;
	}

	.showcase-credits a {
		text-decoration: none;
	}
</style>

<div class="features-why">
	<h2>
		Why Godot is right for you
	</h2>
</div>

<div class="features-wrapper">

	<div class="features-showcase" id="showcase">
		<p>
			A picture is worth a thousand words, and these developers have chosen Godot for their projects:
		</p>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				// We assume that it can't be wrapped more than once.
				const wrapIndex = (index) => {
					if (index < 0) {
						return showcaseItems.length + index;
					}
					if (index >= showcaseItems.length) {
						return showcaseItems.length - index;
					}
					return index;
				};

				const showcaseItems = document.querySelectorAll('.showcase-item');
				let currentIndex = Math.floor(Math.random() * showcaseItems.length);

				const setItemByIndex = (itemIndex) => {
					const prevIndex = wrapIndex(currentIndex - 1);
					const nextIndex = wrapIndex(currentIndex + 1);

					showcaseItems.forEach((item, index) => {
						if (index === itemIndex) {
							item.classList.add('showcase-item-transition');
							item.style.zIndex = '2';
							item.style.transform = 'translateX(0)';
						}
						else if (index === prevIndex) {
							item.classList.add('showcase-item-transition');
							item.style.zIndex = '3';
							item.style.transform = 'translateX(-100%)';
						}
						else if (index === nextIndex) {
							item.classList.add('showcase-item-transition');
							item.style.zIndex = '3';
							item.style.transform = 'translateX(100%)';
						}
						else  {
							item.classList.remove('showcase-item-transition');
							item.style.zIndex = '1';
							item.style.transform = 'translateX(0)';
						}
					});
				}
				setItemByIndex(currentIndex);

				const prevItemButton = document.querySelector('.showcase-flip-left');
				prevItemButton.addEventListener('click', () => {
					currentIndex = wrapIndex(currentIndex - 1);
					setItemByIndex(currentIndex);
				});
				const nextItemButton = document.querySelector('.showcase-flip-right');
				nextItemButton.addEventListener('click', () => {
					currentIndex = wrapIndex(currentIndex + 1);
					setItemByIndex(currentIndex);
				});
			});
		</script>
		<div class="showcase-carousel">
			<div class="showcase-items">
				{% for project in site.showcase %}
				{% if project.featured_in_home %}
				<div class="showcase-item">
					<img src="{{ project.gallery[0] }}" load="lazy" alt="{{ project.title }} - {{ project.author }}" />
					<div class="showcase-credits">
						<a href="{{ project.url }}">
							<span class="showcase-title">{{ project.title }}</span> <span class="showcase-author">- {{ project.author }}</span>
						</a>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>

			<div class="showcase-flip-left"></div>
			<div class="showcase-flip-right"></div>
		</div>
		<a href="/showcase" class="btn btn-flat btn-flat-white">
			See more projects made with Godot
		</a>
	</div>

	<div class="container" id="features">
		<h2>Main features</h2>
	</div>

	<div class="feature-container feature-container-2x" id="design">
		<h3>Intuitive scene-driven design</h3>

		<div class="card base-padding feature-card">
			<strong>Build your game from simple blocks</strong>
			<p>
				Use built-in blocks called nodes to create complex and reusable scenes.
				Script your scenes and customize their behavior to achieve your goals.
				Use hierarchy to decompose your game logic and make it clear at a glance.
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Extend beyond features provided by the engine</strong>
			<p>
				Make your scenes into full-featured components, with tools for your
				designers to tweak and adjust the look and function. Share your components
				with the community of like-minded developers as addons and templates.
			</p>
		</div>
	</div>

	<div class="feature-container feature-container-3x" id="script">
		<h3>Coding tools that fit your needs</h3>

		<div class="card base-padding feature-card">
			<strong>Write code without hurdles with a high-level scripting language</strong>
			<p>
				...
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Leverage your C# experience to feel right at home</strong>
			<p>
				...
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Go with another language or modify the engine itself</strong>
			<p>
				...
			</p>
		</div>
	</div>

	<div class="feature-container feature-container-2x" id="features_3d">
		<h3>Simple yet powerful 3D engine</h3>

		<div class="card base-padding feature-card">
			<strong>Support both high and low-end devices</strong>
			<p>
				...
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Seamlessly integrate with your asset pipeline</strong>
			<p>
				...
			</p>
		</div>
	</div>

	<div class="feature-container feature-container-3x" id="features_2d">
		<h3>Specialized 2D workflow for games and apps</h3>

		<div class="card base-padding feature-card">
			<strong>Work with real 2D and pixel-based unit system</strong>
			<p>
				...
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Save time creating worlds with a tile map editor</strong>
			<p>
				...
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Master usability with a flexible GUI system</strong>
			<p>
				...
			</p>
		</div>
	</div>

	<div class="feature-container features-showreel">
		<p>
			Watch our annual showreel videos to see more examples of projects using Godot!
		</p>

		{% include showreel-shelf.html %}
	</div>

	<div class="feature-container feature-container-2x" id="deploy">
		<h3>Cross-platform support with one project</h3>

		<div class="card base-padding feature-card">
			<strong>Deliver your game to desktop and mobile</strong>
			<p>
				...
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Partner with a publisher to target consoles</strong>
			<p>
				...
			</p>
		</div>
	</div>

	<div class="feature-container feature-container-2x" id="open_source">
		<h3>Completely open and free</h3>

		<div class="card base-padding feature-card">
			<strong>Download and create with no contracts or hidden fees</strong>
			<p>
				...
			</p>
		</div>

		<div class="card base-padding feature-card">
			<strong>Find the logic behind any system in open source codebase</strong>
			<p>
				...
			</p>
		</div>
	</div>

	<div class="features-complete-list">
		<a href="https://docs.godotengine.org/en/stable/about/list_of_features.html" class="btn btn-flat btn-flat-white">
			Complete list of features
		</a>
	</div>

</div>

<div id="call-to-action" class="container card features-download">
	<div class="features-download-ready">
		<h2>Ready to start?</h2>
		<div>
			<a href="/download" class="btn btn-download">
				<div class="download-title">Download</div>
				<div class="download-hint">{{ site.stable_version }}</div>
			</a>
		</div>
	</div>

	<p>Download Godot right now and begin your creative journey!</p>
</div>

{% include footer.html %}
