---
permalink: /showcase/index.html
title: "Showcase - Godot Engine"
description: "Games made with the Godot Engine."
layout: default
---

{% include header.html %}

<div class="head">
	<div class="container flex eqsize">
		<div class="main">
			<h1 class="intro-title">Showcase</h1>
		</div>
		<div class="tabs">
			<a href="/features" class="title-font ">Features</a>
			<a href="/showcase" class="title-font  active ">Showcase</a>
		</div>
	</div>
</div>

<div class="container">
	<h2 class="title">Showreel videos</h2>

	<p>
		Every year, we make a series of videos highlighting the best games made with Godot. Here are the latest ones:
	</p>

	{% include showreel-shelf.html %}

	<style>
		.showcase-card h3 {
			font-size: 33px;
			margin-bottom: 0px;
		}

		.showcase-card p {
			font-size: 14px;
			margin: 0;
			color: var(--secondary-color-text);
		}

		.showcase-card img.thumbnail {
			max-width: 100%;
			border-radius: 7px;
			background-color: var(--card-background-color);
			box-shadow: 0 5px 10px -3px #00000078;
			display: block;
			margin-bottom: 6px;
		}

		.showcase-card-caption {
			display: flex;
			column-gap: 12px;
			justify-content: space-between;
			margin: 0 14px;
		}

		.showcase-card-authors {
			display: grid;
			align-content: center;
		}

		.showcase-card-icons {
			filter: none;
			padding: 7px 0 0;
			opacity: 0.5;
			display: flex;
			gap: 0.5rem;
		}

		.showcase-card-icons svg {
			width: 24px;
			height: 24px;
		}

		@media (prefers-color-scheme: dark) {
			.showcase-card-icons {
				filter: invert();
			}
		}

		.showcase-card .no-capsule {
			aspect-ratio: 92 / 43;
			background-size: cover;
			background-position: center;
			border-radius: 6px;
			box-shadow: 0 5px 10px -3px #00000078;
			margin-bottom: 7px;
			text-align: center;
			display: grid;
			align-content: center;
		}

		.showcase-card .no-capsule h3 {
			text-shadow: 0 4px 5px black;
		}
	</style>

	<!-- Filter will go here -->

	<h2 class="title">Made with Godot</h2>

	<section class="flex grid showcase-cards" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))">
		{% assign projects = site.showcase | sort: 'date' | reverse %}
		{% for project in projects %}
		{% if project.release_date != 'TBD' and project.tool != true %}
		<a href="{{ project.url }}" style="text-decoration: none;">
			<article class="showcase-card">
				{% if project.image %}
				<img class="thumbnail" src="{{ project.image }}" alt="{{ project.title }}" loading="lazy">
				{% else %}
				<div class="no-capsule" style="background-image: url({{ project.gallery[0] }})">
					<h3>{{ project.title }}</h3>
				</div>
				{% endif %}
				<div class="showcase-card-caption">
					<div class="showcase-card-icons">
						{% if project.windows %}<svg><use href="#windows-platform-icon"></use></svg>{% endif %}
						{% if project.macos %}<svg><use href="#macos-platform-icon"></use></svg>{% endif %}
						{% if project.linux %}<svg><use href="#linux-platform-icon"></use></svg>{% endif %}
						{% if project.switch %}<svg><use href="#switch-platform-icon"></use></svg>{% endif %}
						{% if project.html5 %}<svg><use href="#web-platform-icon"></use></svg>{% endif %}
						{% if project.android %}<svg><use href="#android-platform-icon"></use></svg>{% endif %}
						{% if project.ios %}<svg><use href="#ios-platform-icon"></use></svg>{% endif %}
						{% if project.playstation %}<svg><use href="#playstation-platform-icon"></use></svg>{% endif %}
						{% if project.xbox %}<svg><use href="#xbox-platform-icon"></use></svg>{% endif %}
					</div>
					<div class="showcase-card-authors">
						<p>{{ project.author }}</p>
					</div>
				</div>
			</article>
		</a>
		{% endif %}
		{% endfor %}
	</section>

	<h2 class="title">Apps & Tools</h2>

	<section class="flex grid showcase-cards" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))">
		{% assign projects = site.showcase | sort: 'date' | reverse %}
		{% for project in projects %}
		{% if project.tool %}
		<a href="{{ project.url }}" style="text-decoration: none;">
			<article class="showcase-card">
				{% if project.image %}
				<img class="thumbnail" src="{{ project.image }}" alt="{{ project.title }}" loading="lazy">
				{% else %}
				<div class="no-capsule" style="background-image: url({{ project.gallery[0] }})">
					<h3>{{ project.title }}</h3>
				</div>
				{% endif %}
				<div class="showcase-card-caption">
					<div class="showcase-card-icons">
						{% if project.windows %}<svg><use href="#windows-platform-icon"></use></svg>{% endif %}
						{% if project.macos %}<svg><use href="#macos-platform-icon"></use></svg>{% endif %}
						{% if project.linux %}<svg><use href="#linux-platform-icon"></use></svg>{% endif %}
						{% if project.switch %}<svg><use href="#switch-platform-icon"></use></svg>{% endif %}
						{% if project.html5 %}<svg><use href="#web-platform-icon"></use></svg>{% endif %}
						{% if project.android %}<svg><use href="#android-platform-icon"></use></svg>{% endif %}
						{% if project.ios %}<svg><use href="#ios-platform-icon"></use></svg>{% endif %}
						{% if project.playstation %}<svg><use href="#playstation-platform-icon"></use></svg>{% endif %}
						{% if project.xbox %}<svg><use href="#xbox-platform-icon"></use></svg>{% endif %}
					</div>
					<div class="showcase-card-authors">
						<p>{{ project.author }}</p>
					</div>
				</div>
			</article>
		</a>
		{% endif %}
		{% endfor %}
	</section>

	<h2 class="title">Coming soon</h2>
	<section class="flex grid showcase-cards" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))">
		{% assign projects = site.showcase | sort: 'date' | reverse %}
		{% for project in projects %}
		{% if project.release_date == 'TBD' %}
		<a href="{{ project.url }}" style="text-decoration: none;">
			<article class="showcase-card">
				{% if project.image %}
				<img class="thumbnail" src="{{ project.image }}" alt="{{ project.title }}" loading="lazy">
				{% else %}
				<div class="no-capsule" style="background-image: url({{ project.gallery[0] }})">
					<h3>{{ project.title }}</h3>
				</div>
				{% endif %}
				<div class="showcase-card-caption">
					<div></div>
					<div class="showcase-card-authors">
						<p>{{ project.author }}</p>
					</div>
				</div>
			</article>
		</a>
		{% endif %}
		{% endfor %}
	</section>

	<p style="margin-top: 3rem" id="submit-project">
		<strong>Interested in showcasing your published game on this page?</strong>
		Use <a
			href="https://docs.google.com/forms/d/e/1FAIpQLSdhNEywWfk7tm4ABSxmPfnJrKwGPAoYbzRfZlHmu9iZ5CJ5Pw/viewform?usp=sf_link">this
			form</a>.
	</p>
</div>

{% include footer.html %}

<div style="width: 0;height: 0;">
	{% inline_svg assets/images/platforms/windows.svg %}
	{% inline_svg assets/images/platforms/macos.svg %}
	{% inline_svg assets/images/platforms/linux.svg %}
	{% inline_svg assets/images/platforms/switch.svg %}
	{% inline_svg assets/images/platforms/web.svg %}
	{% inline_svg assets/images/platforms/android.svg %}
	{% inline_svg assets/images/platforms/ios.svg %}
	{% inline_svg assets/images/platforms/playstation.svg %}
	{% inline_svg assets/images/platforms/xbox.svg %}
</div>
