{{ define "head" }}
  {{ $leafletJS := resources.Get "leaflet/leaflet.js" | resources.Fingerprint }}
  <script defer src="{{ $leafletJS.RelPermalink }}" integrity="{{ $leafletJS.Data.Integrity }}"
          onload="loadMap()"></script>

  {{/* Preload the first visible map tiles (whole world centered around Europe)*/}}
  {{ $mapTiles := slice
  "3/1/1" "3/1/2" "3/1/3" "3/1/4"
  "3/2/1" "3/2/2" "3/2/3" "3/2/4"
  "3/3/1" "3/3/2" "3/3/3" "3/3/4"
  "3/4/1" "3/4/2" "3/4/3" "3/4/4"
  "3/5/1" "3/5/2" "3/5/3" "3/5/4"
  "3/6/1" "3/6/2" "3/6/3" "3/6/4"
  }}
  {{ range $mapTiles }}
    <link rel="preload" as="image" href="https://tile.openstreetmap.org/{{.}}.png" fetchpriority="high"
          type="image/png"/>
  {{ end }}
  {{ partial "preload-async-css.html" (dict "href" "leaflet/leaflet.css") }}
{{ end }}
{{ define "main" }}
  <main class="user-groups-page">
    <div class="head">
      <div class="wrapper flex eqsize">
        <div class="main">
          <h1 class="intro-title">{{ T "page.userGroups.header.titleText" }}</h1>
          <p class="small">{{ T "page.userGroups.header.subtitleText" }}</p>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <h2 class="title">{{ T "page.userGroups.communityMap.titleText" }}</h2>
      <p>{{ T "page.userGroups.communityMap.subtitleText" }}</p>
      <div id="community-map"></div>

      <script>
        function yieldToMainThread() {
          return new Promise(resolve => {
            setTimeout(resolve, 0);
          });
        }

        async function loadMap() {
          function initMap() {
            const bounds = L.latLngBounds(L.latLng(90, -180), L.latLng(-90, 180));
            return L.map('community-map', {
              // Show the whole world (centered around Europe) when loading.
              center: [40, 0],
              zoom: 3,
              maxBounds: bounds,
              maxBoundsViscosity: 1,
              fadeAnimation: false,
              layers: [
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
                  // Use more reasonable zoom level limits where tiles are still displayed.
                  minZoom: 2,
                  maxZoom: 18,
                  noWrap: true,
                  bounds,
                })
              ]
            });
          }

          function initMarkers(myMap) {
            /**
             * @typedef {Object} CommunityLink
             * @property {string} title
             * @property {string} url
             */

            /**
             * @typedef {Object} Community
             * @property {string} name
             * @property {number[]?} coordinates
             * @property {CommunityLink[]} links
             */

            /**
             * @typedef {Object} CommunityCountry
             * @property {string} name
             * @property {string} iso
             * @property {Community[]} communities
             */

            /**
             * @type {CommunityCountry[]}
             */
            const communityCountries = {{ .Site.Data.communities }}
            const countryCoordinates = {
              // Full country name: [latitude, longitude]
              // Use <https://latitude.to/> to find GPS coordinates.
              'DZ': [28.00003, 2.99998],
              'AR': [-38.4192641, -63.5989206],
              'BR': [-14.240073, -53.180502],
              'BE': [50.64028, 4.66671],
              'BG': [42.60740, 25.48566],
              'CA': [56.130366, -106.346771],
              'CN': [35.486703, 101.901875],
              'HR': [45.815399, 15.966568],
              'CZ/SK': [50.073658, 14.418540],
              'EC': [-1.160171, -78.432915],
              'EG': [26.25405, 29.26755],
              'FI': [62.777754, 26.199539],
              'FR': [47.824905, 2.618787],
              'DE': [51.133481, 10.018343],
              'IN': [22.199166, 78.476681],
              'ID': [-2.548926, 118.0148634],
              'IT': [42.504154, 12.646361],
              'IR': [32.4207423, 53.6830157],
              'IQ': [33.223191, 43.679291],
              'IL': [31.53131, 34.86677],
              'JP': [36.57484, 139.23942],
              'LV': [56.959065, 24.862593],
              'PK': [30.3894, 69.353220],
              'PH': [14.583333, 120.966667],
              'PL': [51.9189046, 19.1343786],
              'PT': [40.03326, -7.88963],
              'RU': [55.751400, 37.620900],
              'SA': [25.62426, 42.35283],
              'KR': [36.638392, 127.6961188],
              'ES': [40.2085, -3.713],
              'SE': [64.964875, 17.675409],
              'TW': [23.44265, 120.50237],
              'TR': [39.908606, 32.784806],
              'US': [39.78373, -100.44588],
            }

            // Sometimes Leaflet uses the wrong path, so we have to provide a default icon
            L.Marker.prototype.options.icon = L.icon({
              iconUrl: '/assets/leaflet/images/marker-icon.webp',
              iconRetinaUrl: '/assets/leaflet/images/marker-icon-2x.webp',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              shadowUrl: '/assets/leaflet/images/marker-shadow.png',
              shadowSize: [41, 41],
              shadowAnchor: [13, 41],
              popupAnchor: [1, -34],
              tooltipAnchor: [16, -28],
            });

            // The icon to use for physical venues.
            const physicalIcon = L.icon({
              iconUrl: '/assets/leaflet/images/physical-marker-icon.webp',
              iconRetinaUrl: '/assets/leaflet/images/physical-marker-icon-2x.webp',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              shadowUrl: '/assets/leaflet/images/marker-shadow.png',
              shadowSize: [41, 41],
              shadowAnchor: [13, 41],
              popupAnchor: [1, -34],
              tooltipAnchor: [16, -28],
            });

            function escapeXml(unsafe) {
              return unsafe.replace(/[<>&'"]/g, function (character) {
                switch (character) {
                  case '<':
                    return '&lt;';
                  case '>':
                    return '&gt;';
                  case '&':
                    return '&amp;';
                  case "'":
                    return '&apos;';
                  case '"':
                    return '&quot;';
                }
              });
            }

            const onlineCommunitiesPerCountry = {}
            for (let i = 0; i < communityCountries.length; i++) {
              const communityCountry = communityCountries[i];
              onlineCommunitiesPerCountry[communityCountry.iso] = []

              for (let j = 0; j < communityCountry.communities.length; j++) {
                const community = communityCountry.communities[j];

                if (community.coordinates) {
                  const marker = L.marker(community.coordinates, {
                    title: community.name,
                    icon: physicalIcon,
                  });
                  marker.bindPopup(`
							<strong>${escapeXml(community.name)}</strong><br>
							${community.links.map((link) => ` <a href="${escapeXml(link.url)}">${escapeXml(link.title)}</a>`)}
						  `).openPopup();
                  marker.addTo(myMap);
                } else {
                  onlineCommunitiesPerCountry[communityCountry.iso].push(community);
                }
              }

              if (onlineCommunitiesPerCountry[communityCountry.iso].length === 0) {
                delete onlineCommunitiesPerCountry[communityCountry.iso]
              }
            }

            const onlineCommunitiesCountries = Object.keys(onlineCommunitiesPerCountry);
            for (let i = 0; i < onlineCommunitiesCountries.length; i++) {
              const iso = onlineCommunitiesCountries[i];
              const communities = onlineCommunitiesPerCountry[iso];

              let markerPopup = '';
              for (let j = 0; j < communities.length; j++) {
                const community = communities[j];
                markerPopup += `
							${j >= 1 ? '<hr>' : ''}
							<strong>${escapeXml(community.name)}</strong><br>
							${community.links.map((link) => ` <a href="${escapeXml(link.url)}">${escapeXml(link.title)}</a>`)}
						`;
              }

              if (countryCoordinates[iso] === undefined) {
                console.log(iso);
                continue;
              }

              const marker = L.marker(countryCoordinates[iso], {
                title: iso,
              });
              marker.bindPopup(markerPopup).openPopup();
              marker.addTo(myMap);
            }
          }

          // https://web.dev/articles/optimize-long-tasks#use_asyncawait_to_create_yield_points
          // First init map then place the markers
          // If we do the both at the same time it can freeze slower devices
          const myMap = initMap();
          await yieldToMainThread();
          initMarkers(myMap);
        }
      </script>

      <div class="map-color-legends">
        <p><span class="red-legend"></span> {{ T "page.userGroups.communityMap.physicalCommunity" }}</p>
        <p><span class="blue-legend"></span> {{ T "page.userGroups.communityMap.onlineCommunity" }}</p>
      </div>

      {{ range $communityCountry := .Site.Data.communities }}
        <h3 class="title">{{ T $communityCountry.name }}</h3>
        <ul>
          {{ range $community := $communityCountry.communities }}
            <li>
              {{ $community.name }}
              {{ $linksCount := len $community.links }}
              ({{- range $index, $link := $community.links -}}
              <a href="{{ $link.url }}" target="_blank">{{ $link.title }}</a>
              {{- if lt (add $index 1) $linksCount -}}, {{ end }}
              {{- end -}})
            </li>
          {{ end}}
        </ul>
      {{ end }}

      <p style="margin-top: 4rem; margin-bottom: 0;">
        {{ T "page.userGroups.submitYourCommunityText" (dict "link" "<em>webmaster at godotengine · org</em>" ) | safeHTML }}
      </p>
    </div>
  </main>
{{ end }}
