.btn.btn-release-notes {
  background-color: var(--button-card-background-color);
  color: var(--base-color-text);
}

.btn.btn-release-changelog {
  background: transparent;
  box-shadow: none;
  color: var(--link-color);
  padding: 2px 4px;
  user-select: none;
}

.primaries {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 8px;

  & .download-platform {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;

    & img {
      width: 24px;
      height: 24px;
    }
  }

  & .btn-download-primary {
    margin-bottom: 0;
    text-align: left;
  }

  & .btn-download-primary.btn-download-primary--mono {
    background-color: rgb(132 151 174 / 68%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    & .download-title {
      color: #f7f7f7;
    }

    & .download-hint {
      background-color: var(--primary-color-subdued);
      color: var(--text-color);
    }
  }

  & .btn.btn-download-primary .download-title {
    font-size: 1.125rem;
    line-height: 24px;
    padding: 10px 1rem;
    white-space: nowrap;
  }

  & .download-mono-note {
    grid-column: span 3;
    color: var(--base-color-text);
    font-size: 95%;
    opacity: 0.64;
    padding-top: 8px;
  }

  & hr {
    grid-column: span 3;
    border-color: var(--button-card-background-color);
    width: 100%;
  }
}

@container main (width < 900px) {
  .primaries .btn.btn-download-primary .download-title {
    line-height: 28px;
    padding: 12px 20px;
  }
}

.preview-notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  & .notes-summary {
    display: grid;
    gap: 24px;
    width: 100%;
    margin-top: 4px;
  }

  & .notes-thumbnail {
    background-position: center;
    background-size: cover;
    background-color: var(--card-background-color);
    border-radius: 7px;
    box-shadow: 0 5px 10px -3px #00000078;
    aspect-ratio: 16 / 9;
    max-height: 260px;
  }

  & .notes-excerpt {
    color: var(--base-color-text);
    opacity: 0.8;
    margin: 0;
  }

  & .notes-buttons {
    display: flex;
    align-items: center;
    gap: 42px;
    min-height: 54px;
  }
}

.preview-download {
  border-radius: 12px;

  & h3 {
    margin-bottom: 4px;
  }
}

.preview-download-meta {
  color: var(--secondary-color-text);
  font-size: 1.063rem;
  margin: 0;
}

.preview-download-primary {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 60px;

  & h4 {
    margin-bottom: 1rem;
  }
}

.preview-download-toggle {
  display: flex;
  justify-content: flex-end;
  user-select: none;

  & h4 {
    color: var(--link-color);
    cursor: pointer;
    margin-top: 2rem;
    text-align: right;
    /* Prevent color transitions from being too fast (for epilepsy). */
    transition: 0.1s filter;
    filter: brightness(100%);
  }

  &:hover {
    filter: brightness(117.5%);
  }

  &:active {
    filter: brightness(82.5%);
  }
}

.preview-download-links {
  background-color: var(--download-table-color);
  border-left: 6px solid var(--accent-color);
  padding: 4px 1rem;
  display: none;

  & .download {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 1rem;
    border-bottom: 1px dashed var(--table-divider-color);
    margin-bottom: 8px;
    padding: 2px 0;
  }

  & .download-details {
    color: var(--secondary-color-text);
    font-size: 0.875rem;
  }
}

.preview-download-toggle.active + .preview-download-links {
  display: block;
}

@container (width < 900px) {
  .preview-download-primary {
    grid-template-columns: 1fr;
    gap: 36px;
  }

  .preview-download-toggle {
    justify-content: flex-start;

    & h4 {
      text-align: left;
    }
  }

  .preview-download-links {
    & .download {
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }
}

@container main (width < 768px) {
  .preview-notes {
    & .notes-buttons {
      flex-direction: column;
      gap: 36px;
      width: 100%;
    }
  }
}
