.pagination {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination a,
.pagination-disabled {
  color: inherit;
  background-color: var(--button-background-color);
  font-size: initial;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  box-shadow: var(--base-shadow);
  min-width: 45px;
  min-height: 40px;
  display: grid;
  place-items: center;
}

.pagination-disabled {
  opacity: 50%;
  user-select: none;
}

.pagination a.active {
  background-color: var(--pagination-active-color);
  color: white;
}

.pagination a:not(:last-child) {
  border-right: 1px solid var(--card-footer-color);
}

.pagination a.pagination-previous,
.pagination a.pagination-next {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
