.showreel-shelf {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.showreel-shelf article {
  border-radius: 7px;
  box-shadow: 0 5px 10px -3px #00000078;
  overflow: hidden;
}

.showreel-shelf img {
  background-color: var(--card-background-color);
}
