<!DOCTYPE html>
<html lang="{% current_lang %}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Godot Engine">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}{% t meta.description %}{% endif %}">

	<!-- Plausible -->
	<script defer data-domain="godotengine.org" src="https://plausible.godot.foundation/js/script.file-downloads.outbound-links.js"></script>
	
	<!-- Social meta tags -->
	<meta property="og:site_name" content="Godot Engine">
	<meta property="og:url" content="https://godotengine.org{{ page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}{% t meta.description %}{% endif %}">
	<meta property="og:image" content="{{ site.url }}{{ page.image | default: '/assets/share-image.jpg' | ensure_magic_type: 'jpeg,png,gif', 'WebP images files seem to have some issues displaying on websites like Reddit and others. For now, we ban the use of WebP images only in the context of cover images.' }}">
	<!-- meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="godotengine.org">
	<meta property="twitter:url" content="https://godotengine.org{{ page.url }}">

	{% if page.title[current_lang] or page.title %}
		{% if page.title[current_lang] %}
			<meta property="og:title" content="{{ page.title[current_lang] | remove: " - Godot Engine" }}{% if page.notitlesuffix != true %} – Godot Engine{% endif %}">
			<title>{{ page.title[current_lang] | remove: " - Godot Engine" }}{% if page.notitlesuffix != true %} – Godot Engine{% endif %}</title>
		{% else %}
			<meta property="og:title" content="{{ page.title | remove: " - Godot Engine" }}{% if page.notitlesuffix != true %} – Godot Engine{% endif %}">
			<title>{{ page.title | remove: " - Godot Engine" }}{% if page.notitlesuffix != true %} – Godot Engine{% endif %}</title>
		{% endif %}
	{% else %}
		<meta property="og:title" content="Godot Engine">
		<title>Godot Engine</title>
	{% endif %}
	
	<link rel="alternate" type="application/rss+xml" title="Godot News" href="/rss.xml">
	<link rel="alternate" type="application/json" title="Godot News" href="/rss.json" />
	<link rel="alternate" type="application/atom+xml" title="Godot News" href="/atom.xml" />
	<link rel="icon" href="/assets/favicon.png" sizes="any">
	<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" href="/assets/css/main.css?121">
	<link rel="stylesheet" href="/assets/css/header.css?6">
	<link rel="stylesheet" href="/assets/css/tobii.min.css">
	<link rel="preload" as="font" href="/assets/fonts/Montserrat-Italic-VariableFont_wght.woff2" crossorigin>
	<link rel="preload" as="font" href="/assets/fonts/Montserrat-VariableFont_wght.woff2" crossorigin>
	<link rel="me" href="https://mastodon.gamedev.place/@godotengine">
</head>

<body>
	{{ content }}
</body>

</html>
