<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Godot Engine">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}Develop your 2D & 3D games, cross-platform projects, or even XR ideas!{% endif %}">
	<meta name="theme-color" content="#3d8fcc">
	<meta property="og:site_name" content="Godot Engine">
	<meta property="og:url" content="{{ site.url }}{{ page.url | replace_first: 'index.html', '' }}">
	<meta name="twitter:site" content="@godotengine">

	<meta property="og:title" content="{{ page.title | default: 'Godot Engine' }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}Develop your 2D & 3D games, cross-platform projects, or even XR ideas!{% endif %}">
	<meta name="image" property="og:image" content="{{ site.url }}{{ page.image | default: '/assets/share-image.webp' }}">
	<meta property="og:type" content="{{ page.og_type | default: 'website' }}">
	<meta name="twitter:card" content="summary_large_image">
	
	<title>{{ page.title | default: "Godot Engine" }}</title>

	<link rel="alternate" type="application/rss+xml" title="Godot News" href="/rss.xml">
	<link rel="icon" href="/assets/favicon.png" sizes="any">
	<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" href="/assets/css/main.css?113">
	<link rel="stylesheet" href="/assets/css/tobii.min.css">
	<link rel="preload" as="font" href="/assets/fonts/Montserrat-Italic-VariableFont_wght.woff2" crossorigin>
	<link rel="preload" as="font" href="/assets/fonts/Montserrat-VariableFont_wght.woff2" crossorigin>
	<link rel="me" href="https://mastodon.gamedev.place/@godotengine">
</head>

<body>
	{{ content }}
</body>

</html>
