<!DOCTYPE html>
<html lang="en">

<head>
	{% if page.name == "home.html" %}
	<script>
		// Preload hero image
		{% assign featured_projects = site.showcase | where: 'featured_in_home', true %}
		const authors = [
			{% for project in featured_projects  %}
			{
				game: '{{ project.title }}',
				by: '{{ project.author }}',
				url: '{{ project.url }}',
				image: '{{ project.gallery[0] }}',
			},
			{% endfor %}
		];
		const author = authors[Math.floor(Math.random() * authors.length)];
		const template = document.createElement('template');
		template.innerHTML = `<link rel="preload" as="image" href="${author.image}" fetchpriority="high"/>`
		document.head.appendChild(template.content.firstChild);
	</script>
	{% endif %}

	<!--features.html-->
	{% if page.name == "features.html" %}
	<link rel="preload" as="image" href="/assets/features/editor-frame.webp?2" fetchpriority="high">
	<script>
		{% assign featured_projects = site.showcase | where: 'featured_in_home', true | map: 'image' %}
		const featuredProjects = [{% for project in featured_projects  %}'{{ project }}',{% endfor %}];

		let currentIndex = Math.floor(Math.random() * featuredProjects.length);
		const template = document.createElement('template');
		template.innerHTML = `<link rel="preload" as="image" href="${featuredProjects[currentIndex]}" fetchpriority="high"/>`
		document.head.appendChild(template.content.firstChild);
	</script>
	{% endif %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Godot Engine">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}Free and open source 2D and 3D game engine{% endif %}">
	<meta name="theme-color" content="#3d8fcc">
	<meta property="og:site_name" content="Godot Engine">
	<meta property="og:url" content="{{ site.url }}{{ page.url | replace_first: 'index.html', '' }}">
	<meta name="twitter:site" content="@godotengine">

	<meta property="og:title" content="{{ page.title | default: 'Godot Engine' }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}Free and open source 2D and 3D game engine{% endif %}">
	<meta property="og:image" content="{{ site.url }}{{ page.image | default: '/assets/share-image.webp' }}">
	<meta property="og:type" content="{{ page.og_type | default: 'website' }}">
	<meta name="twitter:card" content="summary_large_image">
	<title>{{ page.title | default: "Godot Engine" }}</title>

	<link rel="alternate" type="application/rss+xml" title="Godot News" href="/rss.xml">
	<link rel="icon" href="/assets/favicon.png" sizes="any">
	<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" href="/assets/css/main.css?111">
	<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Montserrat-Bold.woff2" crossorigin>
	<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Montserrat-ExtraBold.woff2" crossorigin>
	<link rel="me" href="https://mastodon.gamedev.place/@godotengine">
</head>

<body>
{{ content }}
</body>

</html>
