---
layout: default
---
{% assign platform = page.platform %}

{% include header.html %}

<link rel="stylesheet" href="/assets/css/transparent-nav.css?2">
<link rel="stylesheet" href="/assets/css/download.css?3">
<style>
	.hero {
		background-image: url('/assets/download/download-background-4.x.webp');
	}
</style>

{% assign stable_version = site.data.versions | find: "featured", "4" %}

<div class="hero">
	<div class="hero-wrapper">
		<h1>{% t download.download_godot_4_for %} {{ page.platform }}</h1>

		<div class="main-downloads">
			{% assign featured_downloads = page.downloads | where: "featured", "true" %}
			{% for download in featured_downloads %}

				{% capture download_url %}
					{% if download.custom %}
						{{ download.custom }}
					{% else %}
						{{ stable_version | make_download: download.platform, download.mono }}
					{% endif %}
				{% endcapture %}

				{% assign platform_info = site.data.download_platforms | find: "name", download.platform %}

				<div class="main-download">
					<a href="{{ download_url }}" class="btn btn-download btn-download-main{% if forloop.index > 1 %}2{% endif %}">
						<div class="download-title">
							<img src="/assets/images/platforms/{{ page.platform | slugify }}.svg" alt="({{ page.platform }})">
							Godot Engine{% if download.featured_flavor %} - {{ download.featured_flavor }}{% endif %}
						</div>
						<div class="download-hint">{{ stable_version.name }}</div>
					</a>
					<p class="main-download-details">
						<strong>{% for tag in platform_info.tags %}{{ tag }} · {% endfor %}{% if download.mono %}{% t download.csharp_support %} · {% endif %}</strong>{{ stable_version.release_date }}
					</p>
				</div>

			{% endfor %}

			<p class="previous-releases">
				{% t download.looking_for_previous_version %}
			</p>
		</div>
	</div>

	<div class="other-platforms">
		<div class="other-platforms-wrapper">
			{% t download.looking_for_other_platforms %} <a href="#platforms">{% t download.see_below %}</a>
		</div>
	</div>
</div>

<div class="container">
	<div id="links" class="platform-details">
		<div class="card base-padding">
			<h3>{% t download.requirements.title %}</h3>

			<ul>
				<li><strong>{% t download.requirements.recommended.title %}</strong> {% t download.requirements.recommended.text %}</li>
				<li><strong>{% t download.requirements.minimal.title %}</strong> {% t download.requirements.minimal.text %}</li>
			</ul>

			{% unless page.ignore_mono %}
			<p>{% t download.requirements.csharp.title %}</p>
			<ul>
				<li>
					<a href="https://dotnet.microsoft.com/download">{% t download.requirements.csharp.net_sdk %}</a>
				</li>
			</ul>
			{% endunless %}
		</div>

		<div class="platform-split">
			<div class="card base-padding">
				<h3>{% t download.all_downloads %}</h3>

				{% for download in page.downloads %}

					{% capture download_url %}
						{% if download.custom %}
							{{ download.custom }}
						{% else %}
							{{ stable_version | make_download: download.platform, download.mono }}
						{% endif %}
					{% endcapture %}

					{% assign platform_info = site.data.download_platforms | find: "name", download.platform %}

					<div class="download">
						<a href="{{ download_url }}" class="download-link">
							{{ platform_info.title }}{% if download.mono %} - .NET{% endif %}
							{% unless platform_info.caption == empty %} - {{ platform_info.caption }}{% endunless %}
						</a>
						<span class="download-details">
							{% for tag in platform_info.tags %}{% if forloop.index > 1 %} · {% endif %}{{ tag }}{% endfor %}
							{% if download.mono %} · {% t download.csharp_support %}{% endif %}
						</span>
					</div>

				{% endfor %}

				{% unless page.ignore_export %}
					{% assign templates_info = site.data.download_platforms | find: "name", "templates" %}

					<div class="download">
						<a href="{{ stable_version | make_download: "templates", false }}">
							{{ templates_info.title }}
							{% unless templates_info.caption == empty %} - {{ templates_info.caption }}{% endunless %}
						</a>
						<span class="download-details">
							{% for tag in templates_info.tags %}{% if forloop.index > 1 %} · {% endif %}{{ tag }}{% endfor %}
						</span>
					</div>
					{% unless page.ignore_mono %}
						<div class="download">
							<a href="{{ stable_version | make_download: "templates", true }}">
								{{ templates_info.title }} - .NET
								{% unless templates_info.caption == empty %} - {{ templates_info.caption }}{% endunless %}
							</a>
							<span class="download-details">
								{% for tag in templates_info.tags %}{{ tag }} · {% endfor %}{% t download.csharp_support %}
							</span>
						</div>
					{% endunless %}
				{% endunless %}

				{% if page.content_note %}
				<div class="download-note">
					{{ page.content_note }}
				</div>
				{% endif %}
			</div>

			<div class="card base-padding">
				<h3>{% t download.instructions %}</h3>

				{{ page.content_instructions }}
			</div>
		</div>

		<div id="digital-stores" class="card base-padding digital-stores">
			<div>
				<p>{% t download.digital_stores.title %}</p>

				<div class="digital-store-list">
					<a class="btn btn-digital-store" href="https://godotengine.itch.io/godot" title="{% t download.digital_stores.stores.itch_io %}">
						<div class="digital-store-logo">
							<img src="/assets/download/itch_logo.svg" width="28" height="28" alt="itch logo">
						</div>
						<div class="digital-store-name">itch.io</div>
					</a>
					<a class="btn btn-digital-store" href="https://store.steampowered.com/app/404790" title="{% t download.digital_stores.stores.steam %}">
						<div class="digital-store-logo">
							<img src="/assets/download/steam_logo.svg" width="28" height="28" alt="Steam logo">
						</div>
						<div class="digital-store-name">Steam</div>
					</a>
					<a class="btn btn-digital-store" href="https://store.epicgames.com/p/godot-engine" title="{% t download.digital_stores.stores.epic_games_store %}">
						<div class="digital-store-logo">
							<img src="/assets/download/epic_logo.svg" width="28" height="28" alt="Epic Games Store logo">
						</div>
						<div class="digital-store-name">EGS</div>
					</a>
				</div>
			</div>
			<div class="digital-stores-notes">
				<ul>
					<li>{% t download.digital_stores.notes %}</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="platforms-wrapper">
	<div id="platforms" class="container" style="overflow: hidden;">
		<h2>{% t download.supported_platforms %}</h2>

		<div class="tabs platform-tabs">
			<a href="/download/android" class="tab title-font {% if page.platform == 'Android' %} active {% endif %}">
				<img width="24" height="24" src="/assets/images/platforms/android.svg" title="Android" alt="Android" />
				<span>Android</span>
			</a>
			<a href="/download/linux" class="tab title-font {% if page.platform == 'Linux' %} active {% endif %}">
				<img width="24" height="24" src="/assets/images/platforms/linux.svg" title="Linux" alt="Linux" />
				<span>Linux</span>
			</a>
			<a href="/download/macos" class="tab title-font {% if page.platform == 'macOS' %} active {% endif %}">
				<img width="24" height="24" src="/assets/images/platforms/macos.svg" title="macOS" alt="macOS" />
				<span>macOS</span>
			</a>
			<a href="/download/windows/" class="tab title-font {% if page.platform == 'Windows' %} active {% endif %}">
				<img width="24" height="24" src="/assets/images/platforms/windows.svg" title="Windows" alt="Windows" />
				<span>Windows</span>
			</a>
			<a href="https://editor.godotengine.org/releases/{{stable_version.name}}.stable/godot.editor.html" target="_blank" class="tab title-font">
				<img width="24" height="24" src="/assets/images/platforms/web.svg" title="{% t download.web_editor %}" alt="Web Editor" />
				<span>{% t download.web_editor %}</span>
			</a>
		</div>
	</div>
</div>

<div class="container">
	<div id="extras" class="padded" style="padding-top: 0">
		<h2>{% t download.other_downloads.title %}</h2>

		<div class="other-download">

			<div class="other-download-card">
				<h3>{% t download.other_downloads.demo_projects.title %}</h3>
				<p>
					{% t download.other_downloads.demo_projects.text %}
				</p>
				<p>
					<a href="https://github.com/godotengine/godot-demo-projects">
						{% t download.other_downloads.demo_projects.link_github %}
					</a>
				</p>
				<p>
					{% assign stable_version_comp = stable_version.name | split: "." %}

					<a href="https://godotengine.org/asset-library/asset?category=10&godot_version={{stable_version_comp[0]}}.{{stable_version_comp[1]}}&support[official]=1">
						{% t download.other_downloads.demo_projects.link_assetlib %}
					</a>
				</p>
			</div>

			<div class="other-download-card">
				{% assign aar_library_info = site.data.download_platforms | find: "name", "aar_library" %}

				<h3>{% t download.other_downloads.android_aar.title %}</h3>
				<p>{% t download.other_downloads.android_aar.text %}</p>
				<p>
					<a href="{{ stable_version | make_download: 'aar_library', false }}">
						{{ aar_library_info.title }}
						{% unless aar_library_info.caption == empty %} - {{ aar_library_info.caption }}{% endunless %}
					</a>
				</p>
			</div>

		</div>
	</div>

	<div class="unstable-downloads">
		<div id="previews" class="unstable-download-previews">
			<h2>{% t download.preview_builds.title %}</h2>

			<p>
				{% t download.preview_builds.text %}
			</p>
			<p>
				{% t download.preview_builds.cta %}
			</p>

			<a class="btn" href="/download/preview">
				{% t download.preview_builds.link %}
			</a>
		</div>

		<div id="open-source" class="unstable-download-source">
			<img class="flex-center dark-invert" src="/assets/download/dl_icon_github.png" width="200" height="200" alt="A GitHub logo">
			<div>
				<p>
					{% t download.preview_builds.source.text %}
				</p>
				<ul>
					<li>
						{% t download.preview_builds.source.link %}
					</li>
					<li>
						{% t download.preview_builds.source.docs %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% include thankyou.html %}

{% include footer.html %}
