---
layout: default
---

{% include header.html %}

<link rel="stylesheet" href="/assets/css/download.css?2">
<link rel="stylesheet" href="/assets/css/download-version.css">
<style>
	.hero {
		background-image: none;
		padding-top: 54px;
	}
	.hero h1 {
		text-shadow: none;
		color: var(--base-color-text-title);
	}

	.hero-blurb {
		color: var(--base-color-text);
	}

	.hero-version-flavor {
		background-color: var(--primary-color);
		border-radius: 1000px;
		color: var(--dark-color-text-title);
		font-size: 90%;
		font-weight: 600;
		padding: 0.35rem 1.25rem;
	}

	.other-platforms-wrapper {
		color: var(--base-color-text);
	}

	.preview-cards {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
	}

	footer {
		margin-top: 0;
	}
</style>

<div class="hero">
	<div class="hero-wrapper">
		<h1>Download<br>Godot {{ page.version_name }} <span class="hero-version-flavor">{{ page.version_flavor }}</span></h1>
	</div>

	<div class="other-platforms">
		<div class="other-platforms-wrapper">
			Looking for another version? <a href="/download/archive">Open the archive index!</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="padded" style="padding-top:0;margin-top:32px">
		<div class="preview-cards">

			{% include download/version-card.html version=page.version %}

		</div>
	</div>
</div>

<script src="/assets/js/download-version.js"></script>

{% include footer.html %}
