$godot-blue: #478CBF;

$code-symbol--light: #00009c;
$code-symbol--dark: #ABC9FF;
$code-keyword--light: #e62282;
$code-keyword--dark: #FF7085;
$code-controlflow--light: #bd1fcc;
$code-controlflow--dark: #FF8CCC;
$code-basetype--light: #009933;
$code-basetype--dark: #42FFC2;
$code-enginetype--light: #1c8c66;
$code-enginetype--dark: #8FFFDB;
$code-usertype--light: #2e7366;
$code-usertype--dark: #C7FFED;
$code-string--light: #996b00;
$code-string--dark: #FFEDA1;
$code-background--light: #ffffff;
$code-background--dark: #1D2229;
$code-text--light: #393939;
$code-text--dark: #CDCFD2;
$code-function--light: #0039e6;
$code-function--dark: #57B3FF;
$code-membervariable--light: #0066ad;
$code-membervariable--dark: #BCE0FF;
$code-gdscript-function--light: #009999;
$code-gdscript-function--dark: #66E6FF;
$code-gdscript-globalfunction--light: #5c2eb8;
$code-gdscript-globalfunction--dark: #A3A3F5;
$code-gdscript-nodepath--light: #2e8c00;
$code-gdscript-nodepath--dark: #B8C47D;
$code-gdscript-nodereference--light: #008000;
$code-gdscript-nodereference--dark: #63C259;
$code-gdscript-annotation--light: #cc5e00;
$code-gdscript-annotation--dark: #FFB373;
$code-gdscript-stringname--light: #cc8f73;
$code-gdscript-stringname--dark: #FFC2A6;
