$godot-blue: #478cbf;

$code-symbol--light: #00009c;
$code-symbol--dark: #abc9ff;
$code-keyword--light: #e62282;
$code-keyword--dark: #ff7085;
$code-controlflow--light: #bd1fcc;
$code-controlflow--dark: #ff8ccc;
$code-basetype--light: #009933;
$code-basetype--dark: #42ffc2;
$code-enginetype--light: #1c8c66;
$code-enginetype--dark: #8fffdb;
$code-usertype--light: #2e7366;
$code-usertype--dark: #c7ffed;
$code-comment--light: #14141480;
$code-comment--dark: #cdcfd280;
$code-string--light: #996b00;
$code-string--dark: #ffeda1;
$code-background--light: #ffffff;
$code-background--dark: #1d2229;
$code-text--light: #393939;
$code-text--dark: #cdcfd2;
$code-function--light: #0039e6;
$code-function--dark: #57b3ff;
$code-membervariable--light: #0066ad;
$code-membervariable--dark: #bce0ff;
$code-gdscript-function--light: #009999;
$code-gdscript-function--dark: #66e6ff;
$code-gdscript-globalfunction--light: #5c2eb8;
$code-gdscript-globalfunction--dark: #a3a3f5;
$code-gdscript-nodepath--light: #2e8c00;
$code-gdscript-nodepath--dark: #b8c47d;
$code-gdscript-nodereference--light: #008000;
$code-gdscript-nodereference--dark: #63c259;
$code-gdscript-annotation--light: #cc5e00;
$code-gdscript-annotation--dark: #ffb373;
$code-gdscript-stringname--light: #cc8f73;
$code-gdscript-stringname--dark: #ffc2a6;
