$color-godot-blue: #478CBF;

$color-code-symbol: #ABC9FF;
$color-code-keyword: #FF7085;
$color-code-controlflow: #FF8CCC;
$color-code-basetype: #42FFC2;
$color-code-enginetype: #8FFFDB;
$color-code-usertype: #C7FFED;
$color-code-string: #FFEDA1;
$color-code-background: #1D2229;
$color-code-text: #CDCFD2;
$color-code-function: #57B3FF;
$color-code-membervariable: #BCE0FF;
$color-code-gdscript-function: #66E6FF;
$color-code-gdscript-globalfunction: #A3A3F5;
$color-code-gdscript-nodepath: #B8C47D;
$color-code-gdscript-nodereference: #63C259;
$color-code-gdscript-annotation: #FFB373;
$color-code-gdscript-stringname: #FFC2A6;
