---
---

.main {
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-template-areas: "content aside";
	gap: 20px;
	margin-bottom: 60px;
	@media (max-width: 800px) {
		grid-template-columns: 1fr;
		grid-template-areas: "aside"
		"content";
	}
	.content {
		grid-area: content;
		.hidden {
			display: none;
		}
		// select first instance of h2 title and remove the margin top
		h2:first-of-type {
			margin-top: 0;
		}
	}
	aside {
		grid-area: aside;
	}
	.filter-options {
		// sticky
		position: -webkit-sticky;
		position: sticky;
		display: grid;
		column-gap: 10px;
		top: 10px;

		@media (max-width: 800px) {
			grid-template-columns: 1fr 1fr;
			margin-bottom: 20px;
		}

		.platform-filter-container {
			display: grid;
			grid-template-columns: 30px 1fr;
			gap: 5px;

			label {
				display: inline-block;
			}
		}
	}
}

h1 {
	margin-top: 20px;
}

.showcase-cards {
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	h3 {
		font-size: 33px;
		margin-bottom: 0px;
	}

	.no-capsule {
		aspect-ratio: 92 / 43;
		background-size: cover;
		background-position: center;
		border-radius: 6px;
		box-shadow: 0 5px 10px -3px #00000078;
		margin-bottom: 7px;
		text-align: center;
		display: grid;
		align-content: center;
		h3 {
			text-shadow: 0 4px 5px black;
		}
	}
}

a:has(.showcase-card) {
	transition: transform 100ms ease-in-out;

	&:focus,
	&:hover {
		filter: none;
		transform: translateY(-4px);

		.showcase-card {
			box-shadow: 0 10px 18px -3px #00000078;
		}
	}

	&:focus {
		outline: 2px solid var(--primary-color);
		outline-offset: 4px;
	}
}

.showcase-card {
	transition: box-shadow 100ms ease-in-out;
	display: flex;
	flex-direction: column;
	background-color: var(--card-background-color);
	box-shadow: 0 5px 10px -3px #00000078;
	gap: 10px;
	padding: 10px;
	border-radius: 8px;

	height: -webkit-fill-available;
	height: fill-available;

	.thumbnail {
		width: 100%;
		display: block;
		aspect-ratio: 79 / 37;
		border-radius: 4px;
		background-color: var(--card-background-color);
		background: linear-gradient(168deg, rgb(157, 157, 157) 0%, rgb(83, 83, 83) 100%);
		border: 1px solid rgba(0, 0, 0, 0.6);
	}

	.caption {
		display: flex;
		gap: 12px;
		justify-content: space-between;
	}

	.attribution {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	.author,
	.card-title {
		font-size: 14px;
		color: var(--base-color-text);
	}

	.card-title {
		font-weight: bold;
	}

	.icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: 8px;

		@media (prefers-color-scheme: dark) {
			filter: invert(100%);
		}

		img {
			opacity: 0.8;
			width: 20px;
			height: 20px;
		}
	}
}
